[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% title = BLOCK %]
  確認對產品 '[%- product.name FILTER html %]' 做出群組控制的變更
[% END %]

[% PROCESS global/header.html.tmpl title = title %]
[% FOREACH group = mandatory_groups %]
<p>
由於群組 '[% group.name FILTER html %]' 設定為強制 (MANDATORY)，因此將新增受該群組影響的
[% group.count %] 個 [%+ terms.bugs %] 。</p>
[% END %]

[% FOREACH group = na_groups %]
<p>
群組 '[% group.name FILTER html %]' 影響了 [% group.count %] 個 [% terms.bugs %] ，這些
[% terms.bugs %] 已不再適用於此群組，因此將會被移除。</p>
[% END %]
<form action="editproducts.cgi" method="post" >

  [% PROCESS "global/hidden-fields.html.tmpl" exclude="^Bugzilla_(login|password)$" %]

  <br>
     點選「繼續」鍵確認上方的所有變更。如果你不想做出上列變更，請點選「上一頁」按鍵回到上一頁。
  <p>
    <input type="hidden" name="confirmed" value="confirmed">
    <input type="submit" id="update" value="繼續">
  </p>

</form>


[% PROCESS global/footer.html.tmpl %]
