[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # product: Bugzilla::Product object; the product.
  # changes: Hashref with changes made to the product group controls.
  #%]

[% title = BLOCK %]
    已更新 [% product.name FILTER html %] 的群組控管
[% END %]

[% PROCESS global/header.html.tmpl
  title = title
%]
<p>
[% IF changes._group_controls.now_na.size %]
  [% FOREACH g = changes._group_controls.now_na %]
    從群組 '[% g.name FILTER html %]' 中刪除 [% terms.bugs %] ，因已不再適用這項產品的權限。
    <p>
    已刪除 [% g.bug_count FILTER html %] 個 [% terms.bugs %] 。<p>
  [% END %]
[% END %]

[% IF changes._group_controls.now_mandatory.size %]
  [% FOREACH g = changes._group_controls.now_mandatory %]
    在群組 '[% g.name FILTER html %]' 新增 [% terms.bugs %] 中，因已適用此項產品的權限。
    <p>
    已新增 [% g.bug_count FILTER html %] 個 [% terms.bugs %] 。<p>
  [% END %]
[% END %]

已完成群組控管更新。<p>

[% PROCESS admin/products/footer.html.tmpl %]

[% PROCESS global/footer.html.tmpl %]
