[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # Contributor(s): André Batosti <batosti@async.com.br>
  #
  #%]

[%# INTERFACE:
  #      removed_na: array of hashes; groups not applicable for the product.
  # added_mandatory: array of hashes; groups mandatory for the product.
  #  classification: Bugzilla::Classification object;  product classification.
  #         product: Bugzilla::Product object; the product.
  #%]

[% title = BLOCK %]
    已更新 [% product.name FILTER html %] 的群組控管
[% END %]

[% PROCESS global/header.html.tmpl
  title = title
%]
<p>
[% IF removed_na.size > 0 %]
  [% FOREACH g = removed_na %]
    從群組 '[% g.name FILTER html %]' 中刪除 [% terms.bugs %] ，因已不再適用這項產品的權限。
    <p>
    已刪除 [% g.bug_count FILTER html %] 個 [%+ terms.bugs %] 。<p>
  [% END %]
[% END %]

[% IF added_mandatory.size > 0 %]
  [% FOREACH g = added_mandatory %]
    在群組 '[% g.name FILTER html %]' 新增 [% terms.bugs %] 中，因已適用此項產品的權限。
    <p>
    已新增 [% g.bug_count FILTER html %] 個 [%+ terms.bugs %] 。<p>
  [% END %]
[% END %]

已完成群組控管更新。<p>

[% PROCESS admin/products/footer.html.tmpl %]

[% PROCESS global/footer.html.tmpl %]
