[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # subject: subject line of message
  # body: message body, shown before the query tables
  # queries: array of hashes containing:
  #     bugs: array containing hashes of fieldnames->values for each bug
  #     title: the title given in the whine scheduling mechanism
  #     name: the name of the query
  # author: user object for the person who scheduled this whine
  # recipient: user object for the intended recipient of the message
  #%]

[% body %]

[% IF author.login == recipient.login %]
  如要編輯你的訂閱排程，點選以下網址：
  [%+ urlbase %]editwhines.cgi
[% ELSE %]
  此搜尋由[% author.login %]排定。
[% END %]


[% IF queries.size %]
  [% FOREACH query=queries %]

[%+ query.title +%] ([% query.bugs.size %] [%+ terms.bugs %])
[%+ "-" FILTER repeat(query.title.length) %]

  [% FOREACH bug=query.bugs %]
  [% terms.Bug +%] [%+ bug.bug_id %]：
  [%+ urlbase %]show_bug.cgi?id=[% bug.bug_id +%]
  優先程度： [%+ display_value("priority", bug.priority) -%]
  [% field_descs.bug_severity %]： [%+ display_value("bug_severity", bug.bug_severity) -%]
  [%+ field.descs.rep_platform %]： [%+ display_value("rep_platform", bug.rep_platform) %]
    負責人： [%+ bug.assigned_to %]
      狀態： [%+ display_value("bug_status", bug.bug_status) %]
             [%- IF bug.resolution -%] 解決方案： [% display_value("resolution", bug.resolution) -%]
             [%- END %]
      摘要： [% bug.short_desc %]

   [% END %]

  [% END %]
以 [% terms.bug %] 清單檢視： [% urlbase %]buglist.cgi?cmdtype=runnamed&namedcmd=[% query.name FILTER uri %]
[% ELSE %]

  找不到符合搜尋標準的 [% terms.bugs %] 。
[% END %]
