[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # Contributor(s): Frédéric Buclin <LpSolit@gmail.com>
  #%]

[%# INTERFACE:
  # token: string. The token to be used in the user account creation.
  # email: email address of the user account.
  # expiration_ts: expiration date of the token.
  #%]

[% title = BLOCK %]以 '[% email FILTER html %]' 建立新帳號[% END %]
[% PROCESS "global/header.html.tmpl"
           title = title
           onload = "document.forms['confirm_account_form'].realname.focus();" %]

<p>
要建立你的帳號，必須在下方的表單中輸入密碼。你的電子郵件地址以及真實姓名（如果有提供的話）會和你所做的變動一併顯示。
</p>

<form id="confirm_account_form" method="post" action="token.cgi">
  <input type="hidden" name="t" value="[% token FILTER html %]">
  <input type="hidden" name="a" value="confirm_new_account">
  <table>
    <tr>
      <th align="right">電子郵件地址：</th>
      <td>[% email FILTER html %]</td>
    </tr>
    <tr>
      <th align="right"><small><i>（選填）</i></small> <label for="realname">真實姓名</label>：</th>
      <td><input type="text" id="realname" name="realname" value=""></td>
    </tr>
    <tr>
      <th align="right"><label for="passwd1">輸入你的密碼</label>：</th>
      <td>
        <input type="password" id="passwd1" name="passwd1" value="">
        (最少 [% constants.USER_PASSWORD_MIN_LENGTH FILTER none %] 個字元)
      </td>
    </tr>
    <tr>
      <th align="right"><label for="passwd2">確認你的密碼</label>：</th>
      <td><input type="password" id="passwd2" name="passwd2" value=""></td>
    </tr>
    <tr>
      <th align="right">&nbsp;</th>
      <td><input type="submit" id="confirm" value="送出"></td>
    </tr>
  </table>
</form>

<p>
如果在 <u>[% expiration_ts FILTER time("%Y-%m-%d %H:%M %Z") %]</u> 之前，未完成此一表單的話，將不會建立此一帳號。
</p>

<p>
如果你不想要以此電子郵件建立帳號的話，按下方的「取消建立帳號」鍵，你的所有資訊將會被刪除。
</p>

<form id="cancel_account_form" method="post" action="token.cgi">
  <input type="hidden" name="t" value="[% token FILTER html %]">
  <input type="hidden" name="a" value="cancel_new_account">
  <input type="submit" id="confirm" value="取消建立帳號">
</form>

[% PROCESS global/footer.html.tmpl %]
