[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # token: random string used to authenticate the transaction.
  # expiration_ts: expiration date of the token.
  # email: email address of the new account.
  #%]

From: [% Param('mailfrom') %]
To: [% email %]
Subject: [% terms.Bugzilla %]：確認建立新帳號
X-Bugzilla-Type: admin

[%+ terms.Bugzilla %] 收到以你的電子郵件 ([% email %]) 建立一個新的使用者帳號的要求。

如要繼續以此一電子郵件建立帳號，請於 [% expiration_ts FILTER time("%Y-%m-%d %H:%M %Z") %] 前點選以下連結：

[%+ urlbase %]token.cgi?t=[% token FILTER uri %]&a=request_new_account

如果你並沒有在 [% expiration_ts FILTER time("%Y-%m-%d %H:%M %Z") %] 之前收到此封電子郵件，
或是你想要以其他的電子郵件建立新帳號，你可以點選以下連結重新開始：

[%+ urlbase %]createaccount.cgi

[% IF Param('createemailregexp') == '.*' && Param('emailsuffix') == '' %]
隱私權提醒：
[% terms.Bugzilla %] 是一個開放的 [% terms.bug %] 追蹤系統。
在大多數 [% terms.bugs %] 的活動，包括電子郵件地址，都是公眾可瀏覽的。
我們建議使用次要的電子郵件，或者使用免費的網路電子郵件服務（例如 Gmail、Yahoo、Hotmail 等等），
以避免你的主要電子郵件收到垃圾郵件。
[% END %]

如果你不想要建立帳號，或者此一要求是錯誤的，你可以什麼也不做，或是點選以下連結：

[%+ urlbase %]token.cgi?t=[% token FILTER uri %]&a=cancel_new_account

如果以上的連結失效，或者你有其他關於你的帳號的問題，請洽管理者[% Param('maintainer') %]。
