[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% filtered_summary = bugsummary FILTER html %]
[% header = BLOCK %]瀏覽 [%+ "$terms.Bug $bug.id" FILTER bug_link(bug) FILTER none %] 的所有附件[% END %]

[% title = BLOCK %]
  瀏覽 [% terms.Bug %] [%+ bug.bug_id FILTER html %] 的所有附件
[% END %]

[% PROCESS global/header.html.tmpl
  title = title
  header = header
  subheader = filtered_summary
  style_urls = ['skins/standard/attachment.css']
%]

[% IF hide_obsolete %]
  <div id="hidden_obsolete_message">
    已將廢棄的附件隱藏。如要檢視所有附件（包括已廢棄的附件），
    <a href="attachment.cgi?bugid=[% bug.id FILTER html %]&amp;action=viewall">點此連結</a>。
  </div>
[% END %]
<br>

[% FOREACH a = attachments %]

  <div align="center">
  <table class="attachment_info" cellspacing="0" cellpadding="4" border="1" width="75%">
    <tr>
      <td valign="top" bgcolor="#cccccc" colspan="6">
        <big><b>附件 #[% a.id %]</b></big>
      </td>
    </tr>
    <tr>
      <td valign="top">
        [% a.description FILTER html FILTER obsolete(a.isobsolete) %]
      </td>

      <td valign="top">
        [% IF a.ispatch %]
          <i>patch</i>
        [% ELSE %]
          [% a.contenttype FILTER html %]
        [% END %]
      </td>

      <td valign="top">[% a.attached FILTER time %]</td>
      <td valign="top">[% a.datasize FILTER unitconvert %]</td>

      <td valign="top">
        [% IF a.flags.size == 0 %]
          <i>沒有旗標</i>
        [% ELSE %]
          [% FOREACH flag = a.flags %]
            [% flag.setter.nick FILTER html %]:
            [%+ flag.type.name FILTER html %][% flag.status %]
            [% IF flag.status == "?" && flag.requestee %]
              ([% flag.requestee.nick FILTER html %])
            [% END %]
            [% ", " IF !loop.last %]
          [% END %]
        [% END %]
      </td>

      <td valign="top">
        <a href="attachment.cgi?id=[% a.id %]&amp;action=edit">詳細資料</a>
      </td>
    </tr>
  </table>

  [% IF a.is_viewable %]
    [% IF a.contenttype == "text/html" %]
      [%# For security reasons (clickjacking, embedded scripts), we never
        # render HTML pages from here. The source code is displayed instead. %]
      [% INCLUDE global/textarea.html.tmpl
         minrows = 10
         cols    = 80
         defaultcontent = a.data
         readonly = 'readonly'
         classes = 'viewall_frame'
      %]
    [% ELSE %]
      <iframe src="attachment.cgi?id=[% a.id %]" class="viewall_frame">
        <b>你無法在此頁面瀏覽附件，原因為你的瀏覽器不支援
        IFRAME 屬性。<a href="attachment.cgi?id=[% a.id %]">以另開視窗的方式瀏覽附件</a>。</b>
      </iframe>
    [% END %]
  [% ELSE %]
    <p><b>
      無法瀏覽附件，因為它的 MIME 類別並不是 text/* 、 image/* ，或是
      application/vnd.mozilla.* 。<a href="attachment.cgi?id=[% a.id %]">下載該附件</a>。
    </b></p>
  [% END %]
  </div>

  <br><br>

[% END %]

[% PROCESS global/footer.html.tmpl %]
