[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # attachment: object of the attachment we just attached.
  #%]

[% bug = bugs.0 %]

[% PROCESS "bug/show-header.html.tmpl" %]
[% PROCESS global/header.html.tmpl
  title = "已對 $terms.Bug $attachment.bug_id 的附件 $attachment.id 做出變更"
%]

<dl>
  <dt>對[% "$terms.bug $attachment.bug_id" FILTER bug_link(attachment.bug_id) FILTER none %]的<a
    href="attachment.cgi?id=[% attachment.id %]&amp;action=edit">附件 [% attachment.id %]</a> 所做的變更已儲存。
  </dt>
  <dd>
    [% PROCESS "bug/process/bugmail.html.tmpl" mailing_bugid = attachment.bug_id %]
    [%# Links to more information about the changed bug. %]
    [% Hook.process("links") %]
  </dd>
</dl>

[% PROCESS bug/show.html.tmpl %]
