[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% PROCESS global/header.html.tmpl
  title = "刪除分類"
%]

<table border=1 cellpadding=4 cellspacing=0>
<tr bgcolor="#6666ff">
  <th valign="top" align="left">部份</th>
  <th valign="top" align="left">值</th>

</tr><tr>
  <td valign="top">分類：</td>
  <td valign="top">[% classification.name FILTER html %]</td>

</tr><tr>
  <td valign="top">描述：</td>
  <td valign="top">
    [% IF classification.description %]
      [% classification.description FILTER html_light %]
    [% ELSE %]
      <font color="red">沒有描述</font>
    [% END %]
  </td>

</tr><tr>
  <td valign="top">排序鍵：</td>
  <td valign="top">[% classification.sortkey FILTER html %]</td>

</tr>
</table>

<h2>確認</h2>

<p>你確定要刪除此一分類嗎？</p>
<form method=post action="editclassifications.cgi">
  <input type=submit value="是的，刪除">
  <input type=hidden name="action" value="delete">
  <input type=hidden name="classification" value="[% classification.name FILTER html %]">
  <input type="hidden" name="token" value="[% token FILTER html %]">
</form>

[% PROCESS admin/classifications/footer.html.tmpl %]

[% PROCESS global/footer.html.tmpl %]
