[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

From: [% Param('mailfrom') %]
To: [% emailaddress %]
Subject:  [% terms.Bugzilla %] 變更密碼請求
X-Bugzilla-Type: admin

你（或者有人偽裝成你）要求變更你的 [%+ terms.Bugzilla %] 密碼。要完成此一變更，請點以下連結：

[%+ urlbase %]token.cgi?t=[% token FILTER uri %]&a=cfmpw

如果你並不是送出請求的人，或者你想要取消此一請求，請點以下連結：

[%+ urlbase %]token.cgi?t=[% token FILTER uri %]&a=cxlpw

如果你不做任何動作，此一請求將於 [% constants.MAX_TOKEN_AGE %] 天後
([% expiration_ts FILTER time("%Y-%m-%d %H:%M %Z", timezone) %]) 或是你登入成功後失效。
