[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% title = "變更密碼" %]
[% PROCESS global/header.html.tmpl %]

<p>
如要變更你的密碼，請輸入新的密碼兩次：
</p>

<form method="post" action="token.cgi">
  <input type="hidden" name="t" value="[% token FILTER html %]">
  <input type="hidden" name="a" value="chgpw">
  <table>
    <tr>
      <th align="right">新的密碼：</th>
      <td>
        <input type="password" name="password">
        (最少 [% constants.USER_PASSWORD_MIN_LENGTH FILTER none %] 個字元)
      </td>
    </tr>

    <tr>
      <th align="right">再次輸入新的密碼：<th>
      <td>
        <input type="password" name="matchpassword">
      </td>
    </tr>

    <tr>
      <th align="right">&nbsp;</th>
      <td>
        <input type="submit" id="update" value="送出">
      </td>
    </tr>
  </table>
</form>

[% PROCESS global/footer.html.tmpl %]
