[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% title = "變更密碼" %]
[% PROCESS global/header.html.tmpl %]
[% password_complexity = Param('password_complexity') %]
<p>
如要變更你的密碼，請輸入新的密碼兩次：<br>
</p>
<ul>
  <li>Password must be at least [% constants.USER_PASSWORD_MIN_LENGTH FILTER none %] characters long.</li>
  [% IF password_complexity == "mixed_letters" %]
  <li>密碼必須包含至少一個大寫字母以及一個小寫字母。</li>
  [% ELSIF password_complexity == "letters_numbers" %]
  <li>密碼必須包含至少一個大寫字母、一個小寫字母以及一個數字。</li>
  [% ELSIF password_complexity == "letters_numbers_specialchars" %]
  <li>密碼必須包含至少一個字母、一個數字以及一個特殊字元。</li>
  [% END %]
</ul>

<form method="post" action="token.cgi">
  <input type="hidden" name="t" value="[% token FILTER html %]">
  <input type="hidden" name="a" value="chgpw">
  <table>
    <tr>
      <th>新的密碼：</th>
      <td>
        <input type="password" name="password" required>
        (最少 [% constants.USER_PASSWORD_MIN_LENGTH FILTER none %] 個字元)
      </td>
    </tr>

    <tr>
      <th>確認新的密碼：<th>
      <td>
        <input type="password" name="matchpassword" required>
      </td>
    </tr>

    <tr>
      <th>&nbsp;</th>
      <td>
        <input type="submit" id="update" value="送出">
      </td>
    </tr>
  </table>
</form>

[% PROCESS global/footer.html.tmpl %]
