[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE
  # none
  #
  # Param("maintainer") is used to display the maintainer's email.
  # Param("emailsuffix") is used to pre-fill the email field.
  #%]

[% title = BLOCK %]
  建立一個新的 [% terms.Bugzilla %] 帳號
[% END %]

[% PROCESS global/header.html.tmpl
           title = title
           onload = "document.forms['account_creation_form'].login.focus();" %]

<p>
  要建立一個[% terms.Bugzilla %]帳號，你只要輸入：<br>
[% IF Param('emailsuffix') == '' %]
  一個有效的電子郵件地址。
[% ELSE %]
  一個帳號名稱。此一帳號名稱後面加上 [% Param('emailsuffix') %] 時可以對應到你的電子郵件地址。
[% END %]
  會寄一封用來建立帳號的認證信到此一電子郵件地址。
  <br><b>在你收到電子郵件之前，你將無法登入。</b>
  <br>如果沒有在合理的時間範圍內收到，你可以用電子郵件連絡此一 [% terms.Bugzilla %] 的管理者： <a
  href="mailto:[% Param("maintainer") %]">[% Param("maintainer") %]</a> 。
</p>

<p>
  當需要回報一個新的 [% terms.bug %] ，或者對現有的 [% terms.bug %] 留下意見時，需要一個帳號。
  當後續有需要更多資訊時，可以聯絡上你。
  這也讓其他使用者可以清楚了解是誰對 [%terms.bug %] 做了改變或留下意見。
  <b>注意：你的電子郵件地址將<u>不會</u>顯示給訪客。只有註冊使用者才能看見它。</b>
</p>

[% IF Param('createemailregexp') == '.*' && Param('emailsuffix') == '' %]
<p>
  <b>隱私權提醒：</b>
  <br>[% terms.Bugzilla %] 是一個開放的 [% terms.bug %] 追蹤系統。
  <br>在大多數 [% terms.bugs %] 的活動，包括電子郵件地址，都是可被註冊使用者瀏覽的。
  <br>我們<b>建議</b>使用次要的電子郵件，或者使用免費的網路電子郵件服務（例如 Gmail、Yahoo、Hotmail 等等），以避免你的主要電子郵件收到垃圾郵件。
</p>
[% END %]

<form id="account_creation_form" method="get" action="createaccount.cgi">
  <table>
    <tr>
      <td align="right">
        <b>電子郵件：</b>
      </td>
      <td>
        <input size="35" id="login" name="login">
        [% Param('emailsuffix') FILTER html %]
      </td>
    </tr>
  </table>
  <br>
  <input type="hidden" id="token" name="token" value="[% issue_hash_token(['create_account']) FILTER html %]">
  <input type="submit" id="send" value="送出">
</form>

[% PROCESS global/footer.html.tmpl %]
