[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% PROCESS global/header.html.tmpl title = "Reset Password" %]

[% IF user.authorizer.can_change_password %]
  <p>
    如果你有帳號，但是忘記密碼的話，請在下方輸入電子郵件地址要求更換密碼。
    關於如何重設密碼的細節會隨著信件寄出。
  </p>

  <form id="forgot_password" method="get" action="token.cgi">
    <input type="hidden" name="a" value="reqpw">
    <input id="email" type="email" name="email" autofocus required>
    <input type="hidden" id="token" name="token"
           value="[% issue_hash_token(['reqpw']) FILTER html %]">
    <input type="submit" id="request" value="重設密碼">
  </form>
[% ELSE %]
  <p>很抱歉，你不能重設你的密碼。</p>
[% END %]

[% PROCESS global/footer.html.tmpl %]
