[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Dave Miller <justdave@bugzilla.org>
  #                 Frédéric Buclin <LpSolit@gmail.com>
  #%]
[%
   title = "管理者權限"
   desc = "設定帳號權限"
%]

[% param_descs = {
  allowbugdeletion => "在編輯產品及子產品的頁面刪除一項產品或子產品時，<br>" _
                      "可以刪除所有相關的 $terms.bugs 。",

  allowemailchange => "使用者可以透過偏好設定變更電子郵件地址。<br>" _
                      "注意：變更電子郵件地址需要寄信到原地址以及新地址做確認，<br>" _
                      "因此使用此選項將會使使用者無法輸入無效的電子郵件。",

  allowuserdeletion => "可以刪除使用者帳號。<br>" _
                       "$terms.Bugzilla 會在執行刪除時警告，以免發生誤刪。<br>" _
                       "因此當需要刪除使用者帳號時，須將此選項開啟。" }
%]
