[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%
   title = "使用者認證"
   desc = "設定使用者認證政策"
%]

[% param_descs = {
  auth_env_id =>
    "外部認證系統所使用的環境變數，對每個使用者儲存一個獨一無二的認證碼。" _
    "如果不使用此方法，或沒有此變數，請留白。",

  auth_env_email =>
    "外部認證系統所使用的環境變數，用來儲存每位使用者的電子郵件地址。" _
    "這對環境認證來說是必須的欄位。若你不打算使用此功能，請留白。",

  auth_env_realname =>
    "外部認證系統所使用的環境變數，用來儲存每位使用者的真實姓名。" _
    "如果不是用此方法，或沒有此變數，請留白。",

  user_info_class =>
    "用來蒐集使用者登入資訊的機制。可複選。如果第一個無效，將會試第二個，類推。<br>" _
    "類型有：" _
    "<dl>" _
      "<dt>CGI</dt>" _
      "<dd>" _
        "使用 CGI 介面詢問使用者名稱及密碼。" _
      "</dd>" _
      "<dt>Env</dt>" _
      "<dd>" _
        "預先認證的使用者的資訊傳送至系統環境變數中。" _
      "</dd>" _
    "</dl>",

  user_verify_class =>
    "以 user_info_class 蒐集到的認證資訊來驗證的機制。可複選。如果第一個無效，將會試第二個，類推。<br>" _
    "類型有：" _
    "<dl>" _
      "<dt>DB</dt>" _
      "<dd>" _
        "Bugzilla 內建的認證。這是最常選的選項。" _
      "</dd>" _
      "<dt>RADIUS</dt>" _
      "<dd>" _
        "使用 RADIUS 伺服器進行 RADIUS 認證。請參考 Bugzilla 說明以瞭解更多資訊。" _
        "使用此方法必須先設定<a href=\"?section=radius\">額外的參數</a>。" _
      "</dd>" _
      "<dt>LDAP</dt>" _
      "<dd>" _
        "使用 LDAP 伺服器進行 LDAP 認證。請參考 Bugzilla 說明以瞭解更多資訊。" _
        "使用此方法必須先設定<a href=\"?section=ldap\">額外的參數</a>。" _
      "</dd>" _
    "</dl>",

  rememberlogin =>
    "對 cookie 的管理" _
    "<ul>" _
      "<li>" _
        "開 (on) - cookie 將永遠不會過期 (使用者只需在瀏覽器登入一次)。" _
      "</li>" _
      "<li>" _
        "關 (off) - cookie 只到使用者結束使用時有效 (使用者必須在每個新的瀏覽器視窗登入)。" _
      "</li>" _
      "<li>" _
        "預設開 (defaulton)／預設關 (defaultoff) -" _
        "選定如上所述的預設值，但使用者可自行選擇是否讓 Bugzilla 記住登入資訊。" _
      "</li>" _
    "</ul>",

  requirelogin => "若設定此選項，則所有瀏覽系統任何頁面均需要登入。不允許匿名使用者使用。",

  emailregexp =>
    "定義有效的電子郵件地址的正規表達式。" _
    "預設值為包括所有有效的電子郵件地址。" _
    "使用 <kbd>.*</kbd> 的話，將會接受所有遵守 " _
    "<a href=\"http://tools.ietf.org/html/rfc2822#section-3.4.1\">RFC 2822</a> " _
    "規範的電子郵件地址。,

  emailregexpdesc => "此描述解釋 <var>emailregexp</var> 參數所允許的電子郵件地址。",

  createemailregexp =>
    "此處定義使用者自行使用「新增帳號」功能所允許的電子郵件地址" _
    "（不分大小寫）的正規表達式。" _
    "預設值 (.*) 允許建立任何符何 emailregexp 參數的帳號。" _
    "如果設為空白，將不允許使用者自行建立新帳號；所有的帳號都必須透過管理者設定。",

  use_email_as_login =>
    "若設定為開，使用者會以電子郵件地址做為登入的帳號。" _
    "若設定為關，使用者會以不同的識別字串（帳號）登入。<br>" _
    "<strong>將此設定由「關」改為「開」時，將產生毀滅性動作：" _
    "所有使用者的登入帳號將會被設定為他們的電子郵件地址！</strong>",

  password_complexity =>
    "設定密碼所要求的複雜程度。不管複雜程度為何，密碼都必須至少" _
    " ${constants.USER_PASSWORD_MIN_LENGTH} 字元。" _
    "<ul>" _
      "<li>no_constraints - " _
        "不要求複雜程度。</li>" _
      "<li>mixed_letters - " _
        "密碼必須包含至少一個大寫和一個小寫英文字母。</li>" _
      "<li>letters_numbers - " _
        "密碼必須包含至少一個大寫、一個小寫英文字母，和一個數字。</li>" _
      "<li>letters_numbers_specialchars - " _
        "密碼必須包含至少一個英文字母、一個數字，和一個特殊符號。</li>" _
    "</ul>",

  password_check_on_login =>
    "若設定此選項， $terms.Bugzilla 將會在使用者登入 $terms.Bugzilla " _
    "網頁介面時，檢查使用者的密碼是否符合目前所要求的密碼複雜程度。" _
    "如果使用者的密碼不符合所要求的密碼複雜程度時，使用者將無法登入，" _
    "並且會收到必須重新設定密碼的訊息。",

   auth_delegation =>
    "若設定此選項， $terms.Bugzilla 將會允許第三方應用程式" _
    "請求使用者的 API 金鑰。"
  }

%]
