[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%
   title = "$terms.Bug 變更政策"
   desc = "設定 $terms.bug 變更的政策"
%]

[% accept_status = display_value('bug_status', 'IN_PROGRESS') FILTER html %]

[% param_descs = {
  duplicate_or_move_bug_status => "當 $terms.bug 被標記為和另一個 $terms.bug 重複 (DUPLICATE) ，" _
                                  "或是搬到另一台安裝的機器上時，使用此狀態。",

  letsubmitterchoosepriority => "若設為「開」，則回報 $terms.bug 的使用者可以選擇它的優先程度為何。" _
                                "若設為「關」，則使用預設的優先程度值。",

  letsubmitterchoosemilestone => "若設為「開」，則回報 $terms.bug 的使用者可以選擇它的目標里程碑為何。" _
                                 "若設為「關」，則使用該產品預設的目標里程碑。",

  musthavemilestoneonaccept =>
    "使用 ${field_descs.target_milestone} 時，是否要求使用者在接受一個 $terms.bug 時，設定目標里程碑？",

  commentonchange_resolution => "若設為「開」，當變更 $terms.bug 的解決方案時，使用者需要輸入意見。",

  commentonduplicate => "若設為「開」，當 $terms.bug 被標記為重複 (DUPLICATE) 時，使用者需要輸入意見。",

  noresolveonopenblockers => "若設為「開」，當 $terms.bug 的依賴關係樹還有未解的的 $terms.bugs 時，" _
                             "將不允許設定解決方案為已修復 (FIXED) 。" }
%]
