[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Dave Miller <justdave@bugzilla.org>
  #                 Frédéric Buclin <LpSolit@gmail.com>
  #%]
[%
   title = "搬移 $terms.Bug"
   desc = "設定自另一台安裝 $terms.Bugzilla 的機器搬移 $terms.bugs ，或搬移 $terms.bugs 至另一台安裝 $terms.Bugzilla 機器的參數"
%]

[% param_descs = {
  "move-enabled" => "如果設定為「開」， $terms.Bugzilla 將允許部份人將 $terms.bugs 搬至已定義的資料庫中。",

  "move-button-text" => "在「搬移」按鈕上的文字。解釋 $terms.bug 要搬到哪去。",

  "move-to-url" => "允許部份的 $terms.bugs 搬移到新資料庫的網址。",

  "move-to-address" => "已對目標資料庫寄出一封電子郵件以搬移 $terms.bugs 。" _
                       "這是該資料庫用來監控新增 $terms.bugs 的電子郵件地址。",

  "moved-from-address" => "已對目標資料庫寄出一封電子郵件以搬移 $terms.bugs 。" _
                          "這是用來寄發此電子郵件，以及錯誤訊息的電子郵件地址。",

  movers => "擁有搬移 $terms.bugs 以及（萬一搬移失敗時）再開啟已搬移的 $terms.bugs 的人員清單。",

  "moved-default-product" => "自其他資料庫搬來的 $terms.Bugs 將分配至此產品。",

  "moved-default-component" => "自其他資料庫搬來的 $terms.Bugs 將分配至此子產品。" }
%]
