[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%
   title = "核心參數"
   desc = "安裝 $terms.Bugzilla 所必須設定的核心參數"
%]

[% param_descs = {
  urlbase => "所有 $terms.Bugzilla 的基礎網域名稱。",

  sslbase => "使用 HTTPS (SSL) 連線時 $terms.Bugzilla 網址的網域名稱。",

  ssl_redirect =>
    "當此參數啟用時， $terms.Bugzilla 會根據 <tt>sslbase</tt> 參數的設定，將所有的"
    _ " HTTP 頁面導到 HTTPS 的頁面，以確保每一頁均透過 SSL 存取。另外，"
    _ " $terms.Bugzilla 也會在把電子郵件中的連結 <tt>sslbase</tt> 參數的設定顯示，"
    _ "而非原本的 <tt>urlbase</tt> 參數。",

  cookiepath =>
    "$terms.Bugzilla 的 cookie 路徑。通常設定為網址的基準。"
    _ "以斜線 (/) 開頭。例如， $terms.Bugzilla 架在"
    _ " 'http://www.somedomain.com/bugzilla/' 時，則將此值設定為"
    _ " '/bugzilla/' 。設定為 / 時，將允許此網頁伺服器的所有站台存取"
    _ " $terms.Bugzilla 的 cookie 。",
} %]
