[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% curpanel = -1 %]
[% panels = panels.nsort('sortkey') %]

[% FOREACH panel = panels %]
  [% PROCESS "admin/params/${panel.name}.html.tmpl"
             params = panel.param_list %]
  [% panel.title = title %]
  [% panel.desc = desc %]
  [% panel.param_descs = param_descs %]
  [% IF panel.current %][% curpanel = loop.index %][% END %]
[% END %]

[% current_panel = panels.$curpanel %]

[%# We cannot call header.html.tmpl earlier as we have to know
    which panel is active first, in order to get its title %]

[% title = BLOCK %]
  [% IF curpanel == -1 %]
    參數：索引
  [% ELSE %]
    設定：[%+ current_panel.title FILTER html %]
  [% END %]
[% END %]

[% PROCESS global/header.html.tmpl
   title = title
   message = message
   style_urls = ['skins/standard/params.css']
   javascript_urls = ['js/params.js', 'js/util.js']
   doc_section = "parameters.html"
%]

<table border="0" width="100%">
  <tr>
    <td>
      [%# NAVIGATION BAR %]
      <table id="menu">
        <tr>
          <td class="index">
            <a href="editparams.cgi?section=index" title="顯示全部的參數">索引</a>
          </td>
        </tr>
        [% FOREACH panel = panels %]
          <tr>
            [% IF panel.current %]
              [% Hook.process("current_panel") %]
              <td class="selected_section">
                <span title="[% panel.desc FILTER html %]">[% panel.title FILTER html %]</span>
              </td>
            [% ELSE %]
              <td>
                <a href="editparams.cgi?section=[% panel.name FILTER uri %]"
                   title="[% panel.desc FILTER html %]">[% panel.title FILTER html %]</a>
              </td>
            [% END %]
          </tr>
        [% END %]
      </table>
    </td>
    <td>
      [% IF curpanel == -1 %]
        [% PROCESS admin/params/index.html.tmpl panels = panels %]
      [% ELSE %]

        <div class="contribute"><strong>備註：</strong>
          B[% %]ugzilla 完全由志願參加者進行開發。
          回饋給 B[% %]ugzilla 計畫的最好方式就是做點<a
          href="http://www.bugzilla.org/contribute/">貢獻</a>！
          不一定要當程式設計師才能夠貢獻，有其他各種方式可以回饋。
        </div>

        <p>
          此頁面允許你編輯 [% terms.Bugzilla %] 的基本運作參數。<br>
          請小心！任何你勾選「重設」選項的參數將會回到系統預設值。
        </p>

        [%# CONTENT PANEL %]
        <form method="post" action="editparams.cgi">
          [% PROCESS admin/params/common.html.tmpl panel = current_panel %]
          <input type="hidden" name="section" value="[% current_panel.name FILTER html %]">
          <input type="hidden" name="action" value="save">
          <input type="hidden" name="token" value="[% token FILTER html %]">
          <input type="submit" id="save-params" value="儲存設定">
        </form>
      [% END %]
    </td>
  </tr>
</table>

[% INCLUDE global/footer.html.tmpl %]
