[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%
   title = "預設查詢值"
   desc = "預設的查詢值和 $terms.bug 清單"
%]

[% param_descs = {
  quip_list_entry_control => "控制使用者加入智語的容易度。
                              <ul>
                                <li>
                                  開啟 (open) ：使用者可以輸入智語，並會立即顯示。
                                </li>
                                <li>
                                  認證 (moderated) ：可以輸入智語，但必須經由可認證者認證後才會顯示。
                                </li>
                                <li>
                                  關閉 (closed) ：不允許輸入新的智語。
                                </li>
                              </ul>",

  mostfreqthreshold => "一個 $terms.bug 最少要重複幾次才會出現在" _
                       "<a href=\"duplicates.cgi\">最常回報的 $terms.bugs 頁面</a>中。" _
                       "如果你的資料庫十分龐大，讓此頁面需以較長的時間載入，" _
                       "試著增加此數值。",

  mybugstemplate => "這是讓使用者簡單列出「我所有的 $terms.bugs 」清單的網址。" _
                    " %userid% 會被取代為該使用者的帳號。",

  defaultquery => "當使用者瀏覽「進階搜尋」頁時的預設查詢。這是網址的參數格式，因此較為難以閱讀，十分抱歉。",

  search_allow_no_criteria =>
    "除非程式裡明確允許傳回所有的 $terms.bugs ，否則這個選項將可阻擋沒有條件 (criteria) 的搜尋。" _
    "當設為「關」，搜尋都必須指定一些條件，以限制傳給使用者的 $terms.bugs 數量。" _
    "當設為「開」，使用者將可以不帶任何條件進行搜尋，並傳回他所能看到的所有 $terms.bugs 的清單。" _
    "在資料庫較大的 $terms.Bugzilla 上不建議將此選項開啟。",

  default_search_limit =>
    "因為效能因素， $terms.Bugzilla 預設限制在網頁介面的搜尋只回傳這麼多筆數。" _
    "（此參數只影響 HTML 格式的搜尋結果； CSV 、 XML 和其他格式不在此限。）" _
    "使用者可以在搜尋頁點一個連結查看所有結果。" _
    "<p>通常你不需要更改這個設定－－" _
    "預設值對大多數安裝 $terms.Bugzilla 的使用者而言都應該可以接受。</p>",

  max_search_results =>
    "搜尋可以回傳的最大 $terms.bugs 筆數。" _
    "表格式和圖形式報告不在此限。",

} %]
