[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Marc Schumann.
  # Portions created by Marc Schumann are Copyright (c) 2007 Marc Schumann.
  # All rights reserved.
  #
  # Contributor(s): Marc Schumann <wurblzap@gmail.com>
  #%]
[%
   title = "RADIUS"
   desc = "在選擇將 RADIUS 做為認證方式前，請先設定"
%]

[% param_descs = {
  RADIUS_server => "你的 RADIUS 伺服器名稱（以及連接埠）。" _
                   "（例： <code>radius.company.com</code> 或者 " _
                   "<code>radius.company.com:portnum</code> ）。<br>" _
                   "只有在" _
                   "<a href=\"?section=auth#user_verify_class_desc\"> " _
                   "<code>user_verify_class</code> 參數</a>包含 " _
                   "<code>RADIUS</code> 值時才需設定。",

  RADIUS_secret => "你的 RADIUS 伺服器的 secret key 。<br>" _
                   "只有在" _
                   "<a href=\"?section=auth#user_verify_class_desc\"> " _
                   "<code>user_verify_class</code> 參數</a>包含 " _
                   "<code>RADIUS</code> 值時才需設定。",

  RADIUS_NAS_IP => "當和你的 RAIDUS 伺服器交換資料時所使用的 NAS IP 位址屬性。" _
                   "如果沒有指定，將會使用 <code>127.0.0.1</code> 。<br>" _
                   "只有在" _
                   "<a href=\"?section=auth#user_verify_class_desc\"> " _
                   "<code>user_verify_class</code> 參數</a>包含 " _
                   "<code>RADIUS</code> 值時才需設定。",

  RADIUS_email_suffix => "在 RADIUS 使用者名稱後自動加上的字串，以形成電子郵件地址。<br>" _
                         "只有在" _
                         "<a href=\"?section=auth#user_verify_class_desc\"> " _
                         "<code>user_verify_class</code> 參數</a>包含 " _
                         "<code>RADIUS</code> 值時才需設定。"
  }
%]
