[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%
   title = "RADIUS"
   desc = "在選擇將 RADIUS 做為認證方式前，請先設定"
%]

[% param_descs = {
  RADIUS_server => "你的 RADIUS 伺服器名稱（以及連接埠）。" _
                   "（例： <code>radius.company.com</code> 或者 " _
                   "<code>radius.company.com:portnum</code> ）。<br>" _
                   "只有在" _
                   "<a href=\"?section=auth#user_verify_class_desc\"> " _
                   "<code>user_verify_class</code> 參數</a>包含 " _
                   "<code>RADIUS</code> 值時才需設定。",

  RADIUS_secret => "你的 RADIUS 伺服器的 secret key 。<br>" _
                   "只有在" _
                   "<a href=\"?section=auth#user_verify_class_desc\"> " _
                   "<code>user_verify_class</code> 參數</a>包含 " _
                   "<code>RADIUS</code> 值時才需設定。",

  RADIUS_NAS_IP => "當和你的 RAIDUS 伺服器交換資料時所使用的 NAS IP 位址屬性。" _
                   "如果沒有指定，將會使用 <code>127.0.0.1</code> 。<br>" _
                   "只有在" _
                   "<a href=\"?section=auth#user_verify_class_desc\"> " _
                   "<code>user_verify_class</code> 參數</a>包含 " _
                   "<code>RADIUS</code> 值時才需設定。",

  RADIUS_email_suffix => "在 RADIUS 使用者名稱後自動加上的字串，以形成電子郵件地址。<br>" _
                         "只有在" _
                         "<a href=\"?section=auth#user_verify_class_desc\"> " _
                         "<code>user_verify_class</code> 參數</a>包含 " _
                         "<code>RADIUS</code> 值時才需設定。"
  }
%]
