[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%
   title = "使用者符合政策"
   desc = "設定你的使用者符合政策"
%]

[% param_descs = {
  usemenuforusers => "若此選項設為「開」， $terms.Bugzilla 將會讓你自清單中選擇使用者，" _
                     "而非自輸入框輸入。當此站台有大量使用者時，不建議使用此選項。",

  ajax_user_autocompletion => "若此選項設為「開」，在特定欄位輸入時，將會開啟自動完成功能，" _
                              "顯示和已輸入字串符合的結果清單。",

  maxusermatches => "不顯示超過此數字以上的搜尋符合結果。<br>" _
                    "如果設為 1 ，將不允許模稜兩可的符合結果。<br>" _
                    "這對使用者隱私權很有幫助。<br>" _
                    "若不限制，請設為 0 。",

  confirmuniqueusermatch => "當只有一位使用者符合搜尋時，是否顯示確認頁。" }
%]
