[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% PROCESS global/header.html.tmpl
  title = "$terms.Bug 欄位"
  style_urls = ['skins/standard/page.css']
%]

<p>此頁面描述你在一個 [% terms.bug %] 看到的欄位。</p>

<table class="field_value_explanation">
  <thead>
  <tr>
    <td id="bug_status">
      <h2>[% field_descs.bug_status FILTER upper FILTER html %]</h2>
    </td>

    <td id="resolution">
      <h2>[% field_descs.resolution FILTER upper FILTER html %]</h2>
    </td>
  </tr>

  <tr>
    <td>[% field_descs.bug_status FILTER html %] 欄位指出一個
        [% terms.bug %] 的狀態為何。僅允許特定的狀態轉換。</td>

    <td>[% field_descs.resolution FILTER html %] 欄位指出這個
        [% terms.bug %] 的解決方案為何。</td>
  </tr>
  </thead>

  <tbody>
  <tr class="header_row">
    <td colspan="2">開啟的 [% terms.Bugs %]</td>
  </tr>
  <tr>
    <td>
      <dl>
        <dt class="unconfirmed">
          [% display_value("bug_status", "UNCONFIRMED") FILTER html %]
        </dt>
        <dd class="unconfirmed">
          這個 [% terms.bug %] 最近才被加到資料庫。沒有人確認它是不是真的。擁有
          "canconfirm" 權限的使用者可以藉由將它的狀態設定為
          <b>[% display_value("bug_status", "CONFIRMED") FILTER html %]</b>
          來確認這個 [% terms.bug %] 。或者它也可以直接被解決，並標記為
          <b>[% display_value("bug_status", "RESOLVED") FILTER html %]</b> 。
        </dd>

        <dt class="confirmed">
          [% display_value("bug_status", "CONFIRMED") FILTER html %]
        </dt>
        <dd class="confirmed">
          這個 [% terms.bug %] 是最近才新增且被確認的 [% terms.bug %] 。
          當有人開始處理在這個狀態的 [%+ terms.bugs %] 時，狀態變更為
          <b>[% display_value("bug_status", "IN_PROGRESS") FILTER html %]</b>
          ；或是將它解決，並標記為
          <b>[% display_value("bug_status", "RESOLVED") FILTER html %]</b> 。
        </dd>

        <dt class="in_progress">
          [% display_value("bug_status", "IN_PROGRESS") FILTER html %]
        </dt>
        <dd class="in_progress">
          這個 [% terms.bug %] 還沒解決，但已分配給適當的人負責。在這狀態下，
          [% terms.bugs %] 可以丟給其他人處理，並會自動將狀態變更為
          <b>[% display_value("bug_status", "CONFIRMED") FILTER html %]</b>
          ；或是將它解決，並標記為
          <b>[% display_value("bug_status", "RESOLVED") FILTER html %]</b> 。
        </dd>

        [% Hook.process('open-status') %]
      </dl>
    </td>

    <td>
      還沒有解決方案。所有處於這些「開啟」狀態的 [% terms.bugs %]
      都不會有解決方案。
    </td>
  </tr>

  <tr class="header_row">
    <td colspan="2">關閉的 [% terms.Bugs %]</td>
  </tr>

  <tr>
    <td>
      <dl>
        <dt class="resolved">
          [% display_value("bug_status", "RESOLVED") FILTER html %]
        </dt>
        <dd class="resolved">
          已採取解決方案，並等待 QA 認證。在此狀態下，
          [% terms.bugs %] 可以被重新開啟並設定為開啟的狀態，或是經由
          QA 認證並設定為
          <b>[% display_value("bug_status", "VERIFIED") FILTER html %]</b> 。
        </dd>

        <dt class="verified">
          [% display_value("bug_status", "VERIFIED") FILTER html %]
        </dt>
        <dd class="verified">
          QA 看過了 [% terms.bug %] 和解決方案，並同意已採取適當的解決方案。
          這是 [% terms.bugs %] 最後的狀態。
        </dd>

        [% Hook.process('closed-status') %]
      </dl>
    </td>

    <td>
      <dl>
        <dt class="fixed">
          [% display_value("resolution", "FIXED") FILTER html %]
        </dt>
        <dd class="fixed">
          這個 [% terms.bug %] 已被修復。
        </dd>

        <dt class="invalid">
          [% display_value("resolution", "INVALID") FILTER html %]
        </dt>
        <dd class="invalid">
          描述的問題並不是 [% terms.bug %] 。
        </dd>

        <dt class="wontfix">
          [% display_value("resolution", "WONTFIX") FILTER html %]
        </dt>
        <dd class="wontfix">
          描述的問題的確是 [% terms.bug %] ，但不打算修復。
        </dd>

        <dt class="duplicate">
         [% display_value("resolution", "DUPLICATE") FILTER html %]
        </dt>
        <dd class="duplicate">
          此問題和已存在的 [% terms.bug %] 重複了。將一個 [% terms.bug %] 標記為
          <b>[% display_value("resolution", "DUPLICATE") FILTER html %]</b>
          時，需要輸入該已存在的 [% terms.bug %] 編號。
        </dd>

        <dt class="worksforme">
          [% display_value("resolution", "WORKSFORME") FILTER html %]
        </dt>
        <dd class="worksforme">
          無法重製這個 [% terms.bug %] ，且檢視程式碼也沒有發現任何可能引發這個
          [% terms.bug %] 的線索。如果有較多的資訊，這個 [% terms.bug %] 可以被重新開啟。
        </dd>

        [% Hook.process('resolution') %]
      </dl>
    </td>
  </tr>
  </tbody>
</table>

<h2>其他欄位</h2>

[% SET field_help_map = {} %]
[% FOREACH field = bug_fields.keys %]
  [% SET field_desc = field_descs.$field %]
  [% field_help_map.$field_desc = { help  => help_html.$field,
                                    field => field } %]
[% END %]

[%# This field is not a real one, but its label is visible in bugs. %]

[% field_help_map.Importance = { help  => help_html.importance,
                                 field => "importance" } %]

[%# These are fields that don't need to be documented, either because
  # they have docs somewhere else in the UI, or they don't show up on bugs.
  # %]
[% SET skip_fields = [
  'days_elapsed',
  'everconfirmed',
  'reporter_accessible',
  'cclist_accessible',
  'bug_group',
  'commenter',
  'owner_idle_time',
  'bug_status',
  'resolution',
] %]

<dl class="field_descriptions">
[% FOREACH field_desc = field_help_map.keys.sort %]
  [% SET field = field_help_map.${field_desc}.field %]
  [% SET field_object = bug_fields.$field %]

  [% NEXT IF field_object.obsolete %]
  [% NEXT IF !user.is_timetracker AND field_object.is_timetracking %]

  [% NEXT IF field == 'status_whiteboard' AND !Param('usestatuswhiteboard') %]
  [% NEXT IF field == 'target_milestone' AND !Param('usetargetmilestone') %]

  [%# For now we don't have help for attachment fields and so on. %]
  [% NEXT IF field.match('\.') %]

  [% NEXT IF skip_fields.contains(field) %]

  <dt id="[% field FILTER html %]">[% field_desc FILTER html %]</dt>
    <dd>
      [% field_help_map.${field_desc}.help FILTER html_light %]
    </dd>
[% END %]
</dl>

[% PROCESS global/footer.html.tmpl %]
