[%# this source code form is subject to the terms of the mozilla public
  # license, v. 2.0. if a copy of the mpl was not distributed with this
  # file, you can obtain one at http://mozilla.org/mpl/2.0/.
  #
  # this source code form is "incompatible with secondary licenses", as
  # defined by the mozilla public license, v. 2.0.
  #%]

[% INCLUDE global/header.html.tmpl
  title = "Markdown 語法指南"
  bodyclasses = ['narrow_page']
 %]

<h2>什麼是 Markdown ？</h2>

  Markdown 是一種簡單的文字格式語言，讓你可以用純文字寫下
  [%+ terms.comments %] 並且產生為 HTML 。
  在 [%+ terms.Bugzilla %] 中， markdown 支援以下架構：

  <ul>
    <li><a href="#headers">標題</a></li>
    <li><a href="#blockquotes">引言</a></li>
    <li><a href="#emphasis">強調</a></li>
    <li><a href="#lists">清單</a></li>
    <li><a href="#code">程式碼</a></li>
    <li><a href="#strikethroughs">刪除線</a></li>
    <li><a href="#links">連結</a></li>
    <li><a href="#tables">表格</a></li>
    <li><a href="#definitions">定義</a></li>
  </ul>

<h2 id="headers">標題</h2>

  標題有兩種格式。
  首先，你可以用任何數量的等號 (<code>=</code>) 做為第 1 階標題，或者減號 (<code>-</code>) 做為第 2 階標題。

  <p>
    <pre>
      <code>
        這是一個 H1 標題
        ====================

        這是一個 H2 標題
        --------------------
      </code>
    </pre>
  </p>

  其次，你可以用 1 到 6 個井號 (<code>#</code>) 指定第 1 階到第 6 階的標題。

  <p>
    <pre>
      <code>
        # 這是最大的標題 (H1)
        ### 這是小一點的標題 (H3)
        ###### 這是最小的標題 (H6)
     </code>
   </pre>
  </p>

<h2 id="blockquotes">引言</h2>

  在每一行的前面使用一個大於符號 (<code>&gt;</code>) 來代表引言。

  <p>
    <pre>
      <code>
        &gt; 某些要引用的文字。
      </code>
    </pre>
  </p>

<h2 id="emphasis">強調</h2>

  使用 1 個底線 (<code>_</code>) 或星號 (<code>*</code>) 可以讓文字變成斜體。
  使用 2 個底線 (<code>__</code>) 或星號 (<code>**</code>) 可以讓文字變成粗體。

  <p>
    <pre>
      <code>
        _這會變成斜體_
        *這也會變成斜體*

        __這會變成粗體__
        **這也會變成粗體**
      </code>
    </pre>
  </p>

  變成

  <p>
    <pre>
      <em>這會變成斜體</em>
      <em>這也會變成斜體</em>
      <br>
      <strong>這會變成粗體</strong>
      <strong>這也會變成粗體</strong>
    </pre>
  </p>

  如果要混合使用粗體和斜體，使用不同的符號來區別：

  <p>
    <pre>
      <code>
        _這個 [% terms.bug %] **必須**儘快解決。_
      </code>
    </pre>
  </p>

  <strong>注意：</strong>
  [% terms.Bugzilla %] 會略過強調對帶有連續底線的英文字串，像是
  <code>multiple_underscore_in_a_word</code> 。
  這樣可以避免把可能的程式變數視為強調字串。
  如果你要強調的字串含有這種格式，而你還是想要它顯示為粗體或斜體的話，
  你必須使用 1 或 2 個星號 (<code>*</code>) 而非 1 或 2 個底線
  (<code>_</code>) 。

<h2 id="lists">清單</h2>

  Markdown 支援無序清單和有序清單。

  <h3>無序清單</h3>

    用星號 (<code>*</code>) 、加號 (<code>+</code>) 或減號
    (<code>-</code>) 來列出無序清單的項目。

    <p>
      <pre>
        <code>
          + 第一個項目
          + 第二個項目
          + 第三個項目
        </code>
      </pre>
    </p>

  <h3>有序清單</h3>

    用一個數字加上一個小數點來列出有序清單。

    <p>
      <pre>
        <code>
          1. 項目一
          4. 項目二
          3. 項目三
        </code>
      </pre>
    </p>

    <strong>注意：</strong>
    有序清單的數字將會被自動產生，因此你所輸入的數字並不會對有序清單的數字有影響。
    你所輸入的數字只被用來識別有序清單用。
    <br>

    <p>
      每個清單項目可以有它自己的子項目：
    </p>

    <p>
      <pre>
        <code>
          1. 項目一
          4. 項目二
          3. 項目三
            * 子項目一
            * 子項目二
          5. 項目四
        </code>
      </pre>
    </p>

<h2 id="code">程式碼</h2>

  如要把你的文字其中一部份視為程式碼，使用 1 個以上的反引號
  (<code>`</code>) 做為開頭，並在結尾使用相同數量的反引號。

  <p>
    <pre>
      <code>請見 `printf` 的文件。</code>
    </pre>
  </p>

  如果你需要多行的文字都被視為程式碼，
  你必須使用 3 個以上的反引號 (<code>`</code>) 做為開頭，
  然後接著你需要被視為程式碼的多行文字，
  最後再以相同數量的反引號做為結尾。

  <p>
    <pre>
      <code>
        看一下我寫的：
        ```
        int sum(int x, int y) {
          return x + y;
        }
        ```
      </code>
    </pre>
  </p>

  你也可以在你每一行想要被視為程式碼的文字前面，
  用 tab 或者 [% constants.MARKDOWN_TAB_WIDTH FILTER html %] 個以上的空白做縮排，
  這樣整個段落都會被視為程式碼。
  請留意，你可能會因為不小心把某些文字縮排，而導致它們被視為程式碼。

<h2 id="strikethroughs">刪除線</h2>

  在文字前後各加上 2 個波浪號 (<code>~~</code>) 來代表刪除線。

  <p>
    <pre>
      <code>
        模組 ~~Foo~~ 已不使用。
      </code>
    </pre>
  </p>

<h2 id="links">Links</h2>

  一般的網址和電子郵件地址會自動產生連結。
  除此之外，你可以定義帶有連結文字和連結標題的連結。
  你可以定義你的連結為行內連結或參考資料。

  如要定義行內連結，將連結文字放在中括號中 (<code>[]</code>) ，
  緊接著將連結的 URL 放在小括號中 (<code>()</code>) 。
  連結標題是<em>選填</em>的，如要指定的話則在連結的 URL 後空一格，
  並將連結標題放在雙引號中 (<code>&quot;&quot;</code>) 。

  <p>
    <pre>
      <code>
        這是 [Bugzilla](http://www.bugzilla.org "瀏覽 Bugzilla 首頁") 。
        這個 [範例連結](http://www.example.com) 沒有連結標題。
      </code>
    </pre>
  </p>

  如要定義參考資料連結，在你的 [% terms.comment %] 中任意處，以下列格式定義你的連結：

  <p>
    <pre>
      <code>
        [bz]: http://www.bugzilla.org "Bugzilla 首頁"
        [mz]: http://www.mozilla.org (Mozilla 首頁)
      </code>
    </pre>
  </p>

  也就是說，在每個連結前，以中括號 (<code>[]</code>) 定義一個獨一無二的編號，
  接著這個連結的網址，最後再將選填的連結標題以引號 (<code>&quot;&quot;</code>)
  或小括號 (<code>()</code>) 包起來。
  然後，在要使用這些連結的時候，只要以中括號 (<code>[]</code>) 把要連結的文字包起來，
  緊接著再以中括號把你所定義的編號包起來即可。

  <p>
    <pre>
      <code>
        [Bugzilla][bz] is open-sourced server software designed to help groups
        manage software development. [Mozilla][mz] uses [Bugzilla][bz] to track
        issues with Firefox and other projects.
      </code>
    </pre>
  </p>

<h2 id="tables">表格</h2>

表格可以用以下特別的語法來表示：

<pre><code>
        |             |          Grouping           ||
        First Header  | Second Header | Third Header |
         ------------ | :-----------: | -----------: |
        Content       |          *Long Cell*        ||
        Content       |   **Cell**    |         Cell |

        New section   |     More      |         Data |
        And more      |     More      |     **Data** |
</code></pre>

<p>將被轉換為：</p>

<div class="bz_comment_text">
  <table style="margin-left: 5em">
    <colgroup>
      <col style="text-align:left;"/>
      <col style="text-align:center;"/>
      <col style="text-align:right;"/>
    </colgroup>

    <thead>
      <tr>
       <th style="text-align:left;"></th>
       <th style="text-align:center;" colspan="2">Grouping</th>
      </tr>
      <tr>
       <th style="text-align:left;">First Header</th>
       <th style="text-align:center;">Second Header</th>
       <th style="text-align:right;">Third Header</th>
      </tr>
    </thead>
    <tbody>
      <tr>
       <td style="text-align:left;">Content</td>
       <td style="text-align:center;" colspan="2"><em>Long Cell</em></td>
      </tr>
      <tr>
       <td style="text-align:left;">Content</td>
       <td style="text-align:center;"><strong>Cell</strong></td>
       <td style="text-align:right;">Cell</td>
      </tr>
    </tbody>
    <tbody>
      <tr>
       <td style="text-align:left;">New section</td>
       <td style="text-align:center;">More</td>
       <td style="text-align:right;">Data</td>
      </tr>
      <tr>
       <td style="text-align:left;">And more</td>
       <td style="text-align:center;">More</td>
       <td style="text-align:right;"><strong>Data</strong></td>
      </tr>
    </tbody>
  </table>
</div>

<p>表格的規則如下：</p>

<ul>
  <li>每一行至少要有一個 <code>|</code></li>
  <li>
    在表格表頭和內容中間的 &#8220;分隔線&#8221; 那行只能包含以下字元：
    <code>|</code> 、 <code>-</code> 、 <code>=</code> 、 <code>:</code> 、 <code>.</code> 、
    <code>+</code> 或是空白
  </li>
  <li>儲存格的內容只能在同一行</li>
  <li>欄位以 <code>|</code> 分隔</li>
  <li>表格的第一行，以及對齊、分割用的行，都必須在每行的最前頭開始</li>
</ul>

<p>其他注意事項：</p>

<ul>
  <li>
    在每一行的最前後和最尾端， <code>|</code> 字元是選用的。
  </li>
  <li>
    &#8220;分隔線&#8221; 那行使用 <code>----</code> 或 <code>====</code> 來指出表格表頭和內容的界限。
  該行長度無所謂，但每個儲存格至少要對應到一個字元。
  </li>
  <li>
    設定對齊的方式：在左方使用冒號 <code>:</code> 代表靠左對齊，在右方使用代表靠右對齊，
    左右兩方都使用冒號則代表置中對齊，如上方範例所示。
    如果沒有冒號，預設使用你的系統預設設定（通常是靠左對齊）。
  </li>
  <li>
    如要指出一個儲存格跨了多個欄位，則在該儲存格結束時加上額外的 <code>|</code> 字元，如上方範例所示。
    如果這個儲存格剛好是該列的最後一個儲存格，那麼 <code>|</code> 字元就不是選用的了。
    <code>|</code> 字元的數量代表該儲存格應該橫跨欄位的數量。
  </li>
  <li>儲存格內可以使用 markdown 語法。</li>
  <li>儲存格可以留空。</li>
</ul>

<h2 id="definitions">定義列表</h2>

定義列表使用以下語法：

<pre><code>
        Apple
        :   Pomaceous fruit of plants of the genus Malus in
            the family Rosaceae.
        :   An american computer company.

        Orange
        :   The fruit of an evergreen tree of the genus Citrus.
</code></pre>

<p>變成：</p>

<div class="bz_comment_text">
  <dl style="margin-left: 5em">
    <dt>Apple</dt>
    <dd>Pomaceous fruit of plants of the genus Malus in
      the family Rosaceae.</dd>

    <dd>An american computer company.</dd>

    <dt>Orange</dt>
    <dd>The fruit of an evergreen tree of the genus Citrus.</dd>
  </dl>
</div>

<p>
  如要定義不止一個詞，將每個被定義的詞分別放在不同行即可。
  每個定義以冒號 <code>:</code> 起始，而每個被定義的詞可以有不止一個定義。
  在最後一個定義的詞和第一個定義之間，你可以多留一個空白行。
</p>

<p>
  定義可以包含其他像是列表、引言，或是其他定義列表的區塊標籤元素 (block level elements) 。
</p>

[% PROCESS global/footer.html.tmpl %]
