[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # Contributor(s): N.N.
  #                 Marc Schumann <wurblzap@gmail.com>
  #%]

[% PROCESS global/variables.none.tmpl %]

[% INCLUDE global/header.html.tmpl
   title  = "$terms.Bugzilla 快速搜尋（進階版）",
   style  = 'th {text-align: left}'
   onload = 'document.forms[\'f\'].quicksearch.focus()'
 %]

<p>
  輸入一個以上的字（或字串）進行搜尋：
</p>

<form name="f" action="buglist.cgi" method="get"
      onsubmit="if (this.quicksearch.value == '')
                { alert('請至少輸入一個字串來搜尋。');
                  return false; } return true;">
  <input type="text" size="40" name="quicksearch">
  <input type="submit" value="尋找" id="find">
  <input type="submit" name="load" value="載入搜尋表單" id="load">
</form>

<p>
  這是不分大小寫的，「將所有字視為子字串」的搜尋；字與字之間以空白分隔。預設會搜尋下列欄位：摘要、關鍵字、產品、子產品，以及狀態白板。如果輸入的字看起來像網址的一部份時，在搜尋時也會包括網址欄位。
</p>
<p>
  對一個「字」的通用格式是
  <tt>field1,&hellip;,fieldN:value1,&hellip;,valueM</tt> 。只要有至少一個欄位的值符合該子字串，則該
  [% terms.bug %] 就滿足這項搜尋。例如，
  <tt>assignee,reporter,qa:ibm,sun</tt> 會顯示負責人、回報人或 QA 連絡人含有
  <tt>ibm</tt> 或 <tt>sun</tt> 帳號的 [%+ terms.bugs %] 。如果只輸入
  <tt>value1,&hellip;,valueM</tt> ，那麼預設將會在前頭自動加上
  <tt>summary,keywords,product,component,statuswhiteboard:</tt> ，如前所述。你可以使用
  <tt>-<i>word</i></tt> 的格式，來表達邏輯上對 <tt><i>word</i></tt> 的否定。
</p>
<p>
  以下是可用欄位的完整列表（捷徑欄位可加快速度）： </p>
<table border="1">
<thead>
<tr>
  <th>預設搜尋</th>
  <th>捷徑</th>
  <th>欄位名稱</th>
  <th>別名</th>
  <th>描述</th>
</tr>
</thead>

<!-- Status, Resolution, Platform, OS, Priority, Severity -->

<tr>
  <td>&nbsp;</td>
  <td rowspan="2">
    <tt>UNCO,NEW,&hellip;,CLOS,<br>FIX,DUP,&hellip;<i>（做為第一個字）</i></tt>
  </td>
  <td><tt>status</tt></td>
  <td>&nbsp;</td>
  <td>
    <a href="page.cgi?id=fields.html#status">狀態</a>
    <i>(&ldquo;bug_status&rdquo;)</i>
  </td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td><tt>resolution</tt></td>
  <td>&nbsp;</td>
  <td><a href="page.cgi?id=fields.html#resolution">解決方案</a></td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td><i>如你所見</i></td>
  <td><tt>platform</tt></td>
  <td>&nbsp;</td>
  <td>
    <a href="page.cgi?id=fields.html#rep_platform">硬體平台</a>
    <i>(&ldquo;rep_platform&rdquo;)</i>
  </td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td><tt>os</tt></td>
  <td><tt>opsys</tt></td>
  <td>
    <a href="page.cgi?id=fields.html#op_sys">作業系統</a>
    <i>(&ldquo;op_sys&rdquo;)</i>
  </td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td><tt>p1,p2</tt> <i>或</i> <tt>p1-2</tt></td>
  <td><tt>priority</tt></td>
  <td><tt>pri</tt></td>
  <td><a href="page.cgi?id=fields.html#priority">優先程度</a></td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td><tt>blo,cri,&hellip;,enh</tt></td>
  <td><tt>severity</tt></td>
  <td><tt>sev</tt></td>
  <td>
    <a href="page.cgi?id=fields.html#bug_severity">嚴重等級</a>
    <i>(&ldquo;bug_severity&rdquo;)</i>
  </td>
</tr>

<!-- People: AssignedTo, Reporter, QA Contact, CC, Added comment -->
<!-- Added comment is missing!!!! -->

<tr>
  <td>&nbsp;</td>
  <td><b>@</b><i>負責人</i></td>
  <td><tt>assignedto</tt></td>
  <td><tt>assignee</tt></td>
  <td>
    <a href="page.cgi?id=fields.html#assigned_to">負責人</a>
    <i>(&ldquo;assigned_to&rdquo;)</i>
  </td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td><tt>reporter</tt></td>
  <td><tt>rep</tt></td>
  <td>回報者（帳號）</td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td><tt>qa</tt></td>
  <td><tt>qacontact</tt></td>
  <td>QA 連絡人（帳號） <i>(&ldquo;qa_contact&rdquo;)</i></td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td><tt>cc</tt></td>
  <td>&nbsp;</td>
  <td>寄件副本清單（帳號）</td>
</tr>

<!-- Product, Version, Component, Target Milestone -->

<tr>
  <td><i>是</i></td>
  <td rowspan="2"><b>:</b><i>區域</i></td>
  <td><tt>product</tt></td>
  <td><tt>prod</tt></td>
  <td>產品 (enum)</td>
</tr>
<tr>
  <td><i>是</i></td>
  <td><tt>component</tt></td>
  <td><tt>comp</tt></td>
  <td><a href="describecomponents.cgi">子產品</a></td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td><tt>version</tt></td>
  <td><tt>ver</tt></td>
  <td>版本 (enum)</td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td><tt>milestone</tt></td>
  <td><tt>target, targetmilestone</tt></td>
  <td>目標里程碑 <i>(&ldquo;target_milestone&rdquo;)</i></td>
</tr>

<!-- Summary, Description, URL, Status whiteboard, Keywords -->

<tr>
  <td><i>是</i></td>
  <td>&nbsp;</td>
  <td><tt>summary</tt></td>
  <td><tt>shortdesc</tt></td>
  <td>
    [% terms.Bug %] 摘要（簡短的文字）
    <i>(&ldquo;short_desc&rdquo;)</i>
  </td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td><tt>description</tt></td>
  <td><tt>desc, longdesc<!--, comment--></tt></td>
  <!-- reserve "comment" for "added comment" login search?! -->
  <td>[% terms.Bug %] 描述／意見（較長的文字）</td>
</tr>
<tr>
  <td><i>視情況</i></td>
  <td>&nbsp;</td>
  <td><tt>url</tt></td>
  <td>&nbsp;</td>
  <td>網址 <i>(&ldquo;bug_file_loc&rdquo;)</i></td>
</tr>
<tr>
  <td><i>是</i></td>
  <td>&nbsp;</td>
  <td><tt>statuswhiteboard</tt></td>
  <td><tt>sw, whiteboard</tt></td>
  <td>狀態白板 <i>(&ldquo;status_whiteboard&rdquo;)</i></td>
</tr>
<tr>
  <td><i>是</i></td>
  <td><b>!</b><i>關鍵字</i></td>
  <td><tt>keywords</tt></td>
  <td><tt>kw</tt></td>
  <td><a href="describekeywords.cgi">關鍵字</a></td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td><tt>group</tt></td>
  <td>&nbsp;</td>
  <td>群組</td>
</tr>

<!-- Flags -->

<tr>
  <td>&nbsp;</td>
  <td rowspan="2"><i>旗標</i><b>?</b><i>要求者</i></td>
  <td><tt>flag</tt></td>
  <td>&nbsp;</td>
  <td>旗標名稱及狀態 (+, - or ?)</td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td><tt>requestee</tt></td>
  <td><tt>req</tt></td>
  <td>旗標要求者（帳號）</td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td><tt>setter</tt></td>
  <td><tt>set</tt></td>
  <td>旗標設定者（帳號）</td>
</tr>

<!-- Attachments -->

<tr>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td><tt>attachmentdesc</tt></td>
  <td><tt>attachdesc</tt></td>
  <td>
    附件描述
    <i>(&ldquo;attachments.description&rdquo;)</i>
  </td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td><tt>attachmentdata</tt></td>
  <td><tt>attachdata</tt></td>
  <td>附件資料 <i>(&ldquo;attach_data.thedata&rdquo;)</i></td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td><tt>attachmentmimetype</tt></td>
  <td><tt>attachmimetype</tt></td>
  <td>附件的 MIME 類別 <i>(&ldquo;attachments.mimetype&rdquo;)</i></td>
</tr>
<tr>
  <td>&nbsp;</td>
  <td>&nbsp;</td>
  <td><tt>votes</tt></td>
  <td>&nbsp;</td>
  <td>
    票數<br>
    （ votes:<i>N</i> 以及 votes&gt;=<i>N</i> 代表 "至少 N 票"，
    votes&gt;<i>N</i> 代表 "大於 N 票" ）
  </td>
</tr>
</table>

<p>
  有用縮寫的例子：
</p>
<table border="1">
<thead>
<tr>
  <th>語法</th>
  <th>語意及範例</th>
</tr>
</thead>

<!--
<tr>
  <td><i>STAT</i> <i>(as first word)</i></td>
  <td><b>status,resolution:</b> <i>STAT</i></td>
</tr>
<tr>
  <td></td>
  <td></td>
</tr>
<tr>
  <td><tt>ALL</tt> <i>(as first word)</i></td>
  <td><i>include all resolved [% terms.bugs %] in your search</i></td>
</tr>
<tr>
  <td><tt>+DUP,FIXED</tt> <i>(as first word)</i></td>
  <td><i>include DUPLICATE and FIXED [% terms.bugs %] in your search</i></td>
</tr>
-->

<tr>
  <td><b>:</b><i>區域</i></td>
  <td><b>產品、子產品：</b><i>區域</i></td>
</tr>
<tr>
  <td><i>嚴重等級</i></td>
  <td><b>嚴重等級：</b><i>等級</i></td>
</tr>
<tr>
  <td><tt>blo,cri,maj</tt></td>
  <td><i>嚴重的 [% terms.bugs %]</i></td>
</tr>
<tr>
  <td><tt>enh</tt></td>
  <td><i>功能增強的要求</i></td>
</tr>
<tr>
  <td><b>p</b><i>等級</i></td>
  <td><b>優先程度：</b><i>等級</i></td>
</tr>
<tr>
  <td><tt>p1</tt></td>
  <td><i>優先程度最高的 [% terms.bugs %]</i></td>
</tr>
<tr>
  <td><tt>p1-2</tt></td>
  <td><i>優先程度較高的 [% terms.bugs %]</i></td>
</tr>
<tr>
  <td><b>@</b><i>負責人</i></td>
  <td><b>分配給誰負責：</b><i>負責人</i></td>
</tr>
<tr>
  <td><b>!</b><i>關鍵字</i></td>
  <td><b>關鍵字：</b><i>關鍵字</i></td>
</tr>
<tr>
  <td><i>旗標</i><b>?</b><i>要求者</i></td>
  <td><b>旗標：</b><i>旗標?</i> <b>要求者：</b><i>要求者</i></td>
</tr>
</table>

<p>
  可以在<a href="page.cgi?id=quicksearch.html">搜尋簡介頁</a>的<a
  href="page.cgi?id=quicksearch.html#features">「特色」</a>段落找到更多資訊。
</p>

[% PROCESS global/footer.html.tmpl %]
