[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Terry Weissman <terry@mozilla.org>
  #                 Gervase Markham <gerv@gerv.net>
  #%]

[% PROCESS global/variables.none.tmpl %]
[% INCLUDE global/header.html.tmpl title = "投票" %]

<p>[% terms.Bugzilla %] 有「投票」的功能。每項產品都允許使用者擁有一些票數。（有些產品可能不允許使用者擁有任何票數，這代表你無法對這些產品進行投票。）每投下一票，代表你覺得某些 [% terms.bugs %] 最重要，且最應該被修復。注意：投票不會比提供修復的方法更有效。
</p>

<p>你可能可以對同一個 [% terms.bug %] 投下多票，端看管理者如何設定該產品。記住，你的總票數仍有限制。如果你可以投下多票的話，你可以集中火力在某些 [% terms.bugs %] 上，以表達你對這些 [% terms.bugs %] 希望儘快修復的「支持」。
</p>

<p>要檢視投票：</p>

<ul>
  <li>到查詢頁。進行查詢時，在「至少幾票」的欄位輸入 1 。這樣就會顯示至少有一票的 [% terms.bugs %]。</li>
</ul>

<p>要對[% terms.abug %]進行投票：</p>

<ul>
  <li>首先，在資料庫找到該 [% terms.bug %] 。</li>

  <li>點選在「重要性」欄位右側的「（投票）」連結。（如果沒有此連結，代表此產品可能不允許投票功能。）</li>

  <li>輸入你想要給這個 [% terms.bug %] 的票數。此頁面同時也會顯示你給其他 [% terms.bugs %] 的票數，因此若有需要時，可以自行調整。</li>
</ul>

<p>若你所投票的 [% terms.bugs %] 有任何變更，將會自動收到電子郵件通知。</p>

<p>你也可以隨時點選頁尾的「<a href="votes.cgi?action=show_user">我的投票</a>」連結，檢視你的投票狀況。</p>

[% INCLUDE global/footer.html.tmpl %]
