[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # product: object; Bugzilla::Product object representing the product to
  #               which the milestone belongs.
  # milestone: object; Bugzilla::Milestone object representing the
  #                    milestone the user wants to delete.
  #%]

[% title = BLOCK %]刪除產品 '[% product.name FILTER html %]' 的里程碑
  [% END %]

[% PROCESS global/header.html.tmpl
  title = title
  style_urls = ['skins/standard/admin.css']
%]

<table border="1" cellpadding="4" cellspacing="0">
<tr bgcolor="#6666FF">
  <th valign="top" align="left">欄位</th>
  <th valign="top" align="left">值</th>
</tr>
<tr>
  <td valign="top">里程碑：</td>
  <td valign="top">[% milestone.name FILTER html %]</td>
</tr>
<tr>
  <td valign="top">產品名稱：</td>
  <td valign="top">[% product.name FILTER html %]</td>
</tr>
<tr>
  <td valign="top">[% terms.Bugs %] ：</td>
  <td valign="top">
[% IF milestone.bug_count %]
  <a title="列出里程碑在 '[% milestone.name FILTER html %]' 的 [% terms.bugs %] 清單"
     href="buglist.cgi?target_milestone=[% milestone.name FILTER uri %]&amp;product=
          [%- product.name FILTER uri %]"
          >[% milestone.bug_count FILTER none %]</a>
[% ELSE %]
  無
[% END %]
  </td>
</tr>
</table>

<h2>確認</h2>

[% IF milestone.bug_count %]

  <p class="confirmation">
    在此里程碑中還有 [% milestone.bug_count FILTER none %] 個 [%+ terms.bugs %] ！
    <br>當你刪除此里程碑時，<b>所有</b> [% terms.bugs %] 的里程碑將會被指到
    '[% product.name FILTER html %]' 產品的預設里程碑 [% product.default_milestone FILTER html %] 。
  </p>
[% END %]

<p>你確定要刪除此里程碑嗎？</p>

<form method="post" action="editmilestones.cgi">
  <input type="submit" id="delete" value="是的，刪除">
  <input type="hidden" name="action" value="delete">
  <input type="hidden" name="product" value="[% product.name FILTER html %]">
  <input type="hidden" name="milestone" value="[% milestone.name FILTER html %]">
  <input type="hidden" name="token" value="[% token FILTER html %]">
</form>

[% PROCESS admin/milestones/footer.html.tmpl %]

[% PROCESS global/footer.html.tmpl %]
