[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # product: object; Bugzilla::Product object representing the product to
  #               which the milestone belongs.
  # milestone: object; Bugzilla::Milestone object representing the
  #                    milestone the user wants to edit.
  #%]

[% title = BLOCK %]編輯產品 '[%- product.name FILTER html %]' 的里程碑 '[% milestone.name FILTER html %]'[% END %]
[% PROCESS global/header.html.tmpl
  title = title
  onload = "document.forms['f'].milestone.select()"
%]

<form name="f" method="post" action="editmilestones.cgi">
  <table border="0" cellpadding="4" cellspacing="0">

    <tr>
      <th class="field_label"><label for="milestone">里程碑：</label></th>
      <td><input id="milestone" size="64" maxlength="64" name="milestone" value="
      [%- milestone.name FILTER html %]"></td>
    </tr>
    <tr>
      <th class="field_label"><label for="sortkey">排序鍵：</label></th>
      <td><input id="sortkey" size="20" maxlength="20" name="sortkey" value="
      [%- milestone.sortkey FILTER html %]"></td>
    </tr>
    <tr>
      <th class="field_label"><label for="isactive">開啟回報 [% terms.Bugs %] 功能：</label></th>
      <td><input id="isactive" name="isactive" type="checkbox" value="1"
                 [% 'checked="checked"' IF milestone.isactive %]></td>
    </tr>
  </table>

  <input type="hidden" name="milestoneold" value="[% milestone.name FILTER html %]">
  <input type="hidden" name="action" value="update">
  <input type="hidden" name="product" value="[% product.name FILTER html %]">
  <input type="submit" id="update" value="儲存設定">
  <input type="hidden" name="token" value="[% token FILTER html %]">
</form>

[% PROCESS admin/milestones/footer.html.tmpl
  no_edit_milestone_link = 1 %]

[% PROCESS global/footer.html.tmpl %]
