[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # product: object; Bugzilla::Product object representing the product to
  #               which the milestones belongs.
  # showbugcounts: if defined, then bug counts should be included in the table
  #%]

[% USE Bugzilla %]
[% cgi = Bugzilla.cgi %]

[% title = BLOCK %]選擇產品 '[% product.name FILTER html %]' 的里程碑[% END %]
[% PROCESS global/header.html.tmpl
  title = title
%]

[% edit_contentlink = BLOCK %]editmilestones.cgi?action=edit&amp;product=
  [%- product.name FILTER uri %]&amp;milestone=%%name%%[% END %]
[% delete_contentlink = BLOCK %]editmilestones.cgi?action=del&amp;product=
  [%- product.name FILTER uri %]&amp;milestone=%%name%%[% END %]
[% bug_count_contentlink = BLOCK %]buglist.cgi?target_milestone=%%name%%&amp;product=
  [%- product.name FILTER uri %][% END %]


[% columns = [
     {
       name => "name"
       heading => "編輯里程碑…"
       contentlink => edit_contentlink
     },
     {
       name => "sortkey"
       heading => "排序鍵"
     },
     {
       name => "isactive"
       heading => "啟用"
       yesno_field => 1
     }
   ]
%]

[% IF showbugcounts %]

  [% columns.push({
       name => "bug_count"
       heading => "$terms.Bugs"
       align => "right"
       contentlink => bug_count_contentlink
     })
  %]

[% END %]

[% columns.push({
       name => "action"
       heading => "動作"
       content => "刪除"
       contentlink => delete_contentlink
     })
%]

[%# We want to override the usual 'Delete' link for the default milestone %]
[% overrides.action.name.${product.default_milestone} = {
     override_content => 1
     content => "（預設里程碑）"
     override_contentlink => 1
     contentlink => undef
   }
%]

[% Hook.process('before_table') %]

[% PROCESS admin/table.html.tmpl
     columns = columns
     data = product.milestones
     overrides = overrides
%]

[% IF ! showbugcounts %]

  <p><a href="editmilestones.cgi?product=[% product.name FILTER uri %]&amp;showbugcounts=1"
     >以 [% terms.bug %] 數目重新顯示（較慢）</a></p>

[% END %]

[% PROCESS admin/milestones/footer.html.tmpl
  no_edit_other_milestones_link = 1
%]

[% PROCESS global/footer.html.tmpl %]
