[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # products: array of product objects
  # showbugcounts: if defined, then bug counts should be included in the table
  #%]

[% PROCESS global/header.html.tmpl
  title = "編輯哪一項產品的里程碑呢？"
%]

[% columns = [
     {
       name => "name"
       heading => "選擇產品…"
       contentlink => "editmilestones.cgi?product=%%name%%"
     },
     {
       name => "description"
       heading => "描述"
       allow_html_content => 1
     }
   ]
%]

[% IF showbugcounts %]

  [% columns.push({
      name => 'bug_count'
      heading => "$terms.Bugs"
      align => "right"
      contentlink => "buglist.cgi?product=%%name%%"
    })
  %]

[% END %]

[% PROCESS admin/table.html.tmpl
     columns = columns
     data = products
%]

[% IF !showbugcounts %]
  <p><a href="editmilestones.cgi?showbugcounts=1"
     >以 [% terms.bug %] 數目重新顯示（較慢）</a></p>
[% END %]

[% PROCESS global/footer.html.tmpl %]
