[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # operations: array of hashes. May be empty. Each has has three members:
  #   who: string. who performed the operation
  #   when: string. when they performed it
  #   changes: hash. Details of what they changed. This hash has three
  #            compulsory and one optional member:
  #     field: string. The name of the field
  #     removed: string. What was removed from the field
  #     added: string. What was added to the field
  #     attach_id: integer. If the change was adding an attachment, its id.
  # incomplete_data: boolean. True if some of the data is incomplete (because
  #                  it was affected by an old Bugzilla bug.)
  #%]

[% PROCESS bug/time.html.tmpl %]

[% IF incomplete_data %]
  <p>
    在 <a href="http://www.bugzilla.org/">Bugzilla</a> 裡，曾經有過這樣的問題：如果有大量的寄件副本清單或依賴性關係，會造成活動歷史資料遺失。這已經修復了，但是已無法再次出現在你的活動歷史表格中。無法確定的變更會以 '?' 字元做為開頭。
  </p>
[% END %]

[% IF operations.size > 0 %]
  <table border cellpadding="4">
    <tr>
      <th>變更者</th>
      <th>變更時間</th>
      <th>變更內容</th>
      <th>刪除</th>
      <th>新增</th>
    </tr>

    [% FOREACH operation = operations %]
      <tr>
        <td rowspan="[% operation.changes.size %]" valign="top">
          [% operation.who FILTER email FILTER html %]
        </td>
        <td rowspan="[% operation.changes.size %]" valign="top">
          [% operation.when FILTER time %]
        </td>
        [% FOREACH change = operation.changes %]
          [% "</tr><tr>" IF loop.index > 0 %]
            <td>
              [% IF change.attachid %]
                <a href="attachment.cgi?id=[% change.attachid %]">
                附件 #[% change.attachid %]</a>
              [% END %]
              [% IF change.comment.defined %]
                 [% comment_desc = field_descs.${change.fieldname} %]
                 [% comment_num = "意見 $change.comment.count" FILTER bug_link(bug.bug_id, comment_num => change.comment.count) %]
                 [% comment_desc.replace('^(意見 )?', "$comment_num ") FILTER none %]
              [% ELSE %]
                [%+ field_descs.${change.fieldname} FILTER html %]
              [% END %]
            </td>
            [% PROCESS change_column change_type = change.removed %]
            [% PROCESS change_column change_type = change.added %]
            <td>
              [% IF change.added.defined %]
                [% IF change.fieldname == 'estimated_time' ||
                      change.fieldname == 'remaining_time' ||
                      change.fieldname == 'work_time' %]
                  [% PROCESS formattimeunit time_unit=change.added %]
                [% ELSIF change.fieldname == 'blocked' ||
                         change.fieldname == 'dependson' %]
                  [% change.added FILTER bug_list_link FILTER none %]
                [% ELSE %]
                  [% display_value(change.fieldname, change.added) FILTER email FILTER html %]
                [% END %]
              [% ELSE %]
                &nbsp;
              [% END %]
            </td>
        [% END %]
      </tr>
    [% END %]
  </table>
[% ELSE %]
  <p>
    尚未對此 [% terms.bug %] 做出變更。
  </p>
[% END %]

[% BLOCK change_column %]
  <td>
    [% IF change_type.defined %]
      [% IF change.fieldname == 'estimated_time' ||
            change.fieldname == 'remaining_time' ||
            change.fieldname == 'work_time' %]
        [% PROCESS formattimeunit time_unit=change_type %]
      [% ELSIF change.fieldname == 'blocked' ||
               change.fieldname == 'dependson' %]
        [% change_type FILTER bug_list_link FILTER none %]
      [% ELSIF change.fieldname == 'assigned_to' ||
               change.fieldname == 'reporter' ||
               change.fieldname == 'qa_contact' ||
               change.fieldname == 'cc' ||
               change.fieldname == 'flagtypes.name' %]
        [% display_value(change.fieldname, change_type) FILTER email FILTER html %]
      [% ELSE %]
        [% display_value(change.fieldname, change_type) FILTER html %]
      [% END %]
    [% ELSE %]
      &nbsp;
    [% END %]
  </td>
[% END %]
