[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # target: string. URL to go to after login.
  #%]

[% IF !target %]
 [% target = "index.cgi" %]
[% END %]

[% PROCESS global/header.html.tmpl
  title = "登入 $terms.Bugzilla",
  onload = "document.forms['login'].Bugzilla_login.focus()"
%]

[% USE Bugzilla %]

<p>
[% terms.Bugzilla %] 需要一組有效的帳號及密碼才能繼續。
</p>

<form name="login" action="[% target FILTER html %]" method="POST"
[%- IF Bugzilla.cgi.param("data") %] enctype="multipart/form-data"[% END %]>
  <table>
    <tr>
      <th align="right"><label for="Bugzilla_login">帳號：</label></th>
      <td>
        <input size="35" id="Bugzilla_login" name="Bugzilla_login">
        [% Param('emailsuffix') FILTER html %]
      </td>
    </tr>
    <tr>
      <th align="right"><label for="Bugzilla_password">密碼：</label></th>
      <td>
        <input type="password" size="35" id="Bugzilla_password" name="Bugzilla_password">
      </td>
    </tr>

    [% IF Param('rememberlogin') == 'defaulton' ||
          Param('rememberlogin') == 'defaultoff' %]
      <tr>
        <th>&nbsp;</th>
        <td>
          <input type="checkbox" id="Bugzilla_remember" name="Bugzilla_remember" value="on"
                 [%+ "checked" IF Param('rememberlogin') == "defaulton" %]>
          <label for="Bugzilla_remember">記住登入資訊</label>
        </td>
      </tr>
    [% END %]

    <tr>
      <th>&nbsp;</th>
      <td>
        <input type="checkbox" id="Bugzilla_restrictlogin" name="Bugzilla_restrictlogin"
               checked="checked">
        <label for="Bugzilla_restrictlogin">限制此次登入期間僅能使用此IP
        （使用此一選項以增強安全性）</label>
      </td>
    </tr>
  </table>

  [% PROCESS "global/hidden-fields.html.tmpl"
     exclude="^Bugzilla_(login|password|restrictlogin)$" %]

  <input type="hidden" name="Bugzilla_login_token"
         value="[% get_login_request_token() FILTER html %]">
  <input type="submit" name="GoAheadAndLogIn" value="登入" id="log_in">

  <p>
    （注意：你應該確認瀏覽器已允許來自此站台的 cookie ，否則會需要經常登入。）
  </p>
</form>

[% Hook.process('additional_methods') %]

[%# Allow the user to create a new account, or request a token to change
  # their password, assuming that our auth method allows that.
  #%]

  [% IF Param("createemailregexp") && user.authorizer.user_can_create_account %]
    <hr>

    <p>
      如果你沒有 [% terms.Bugzilla %] 帳號，你可以<a href="createaccount.cgi">建立新帳號</a>。
      [% IF Param("requirelogin") %]
        此一 [% terms.Bugzilla %] 僅允許獲得授權的使用者登入瀏覽，因此需要有帳號。
      [% ELSIF target.match("_bug\.cgi$") %]
        當需要回報一個新的 [% terms.bug %] ，或者對現有的 [% terms.bug %] 留下意見時，需要一個帳號。
        當後續有需要更多資訊時，可以聯絡上你。
      [% END %]
    </p>
  [% END %]

  [% IF user.authorizer.can_change_password %]
    <hr>

    <form id="forgot" method="get" action="token.cgi">
      <input type="hidden" name="a" value="reqpw">
      如果你有帳號，但是忘記密碼的話，在下方輸入你的帳號並按「重設密碼」鍵來變更密碼。<br>
      <input size="35" name="loginname">
      <input type="hidden" id="token" name="token" value="[% issue_hash_token(['reqpw']) FILTER html %]">
      <input type="submit" id="request" value="重設密碼">
    </form>
  [% END %]

[% PROCESS global/footer.html.tmpl %]
