[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

模版的 hook 放在這目錄下。它們在一般的 [%+ terms.Bugzilla %] 模版是以類似
[[% '%' %] Hook.process('some-hook') %] 的方式呼叫。
可以在 B[% %]ugzilla::Extension 的文件裡找到更多資訊。
（在 [%+ terms.Bugzilla %] 主目錄執行 "perldoc B[% %]ugzilla::Extension" 即可查看。）
