[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

一般的模版放在這個目錄下。
你可以用類似以下的方式載入它們：

use B[% %]ugzilla::Error;
my $template = B[% %]ugzilla->template;
$template->process('[% name FILTER lower %]/some-template.html.tmpl')
  or ThrowTemplateError($template->error());

這樣就可以載入此目錄中的 <kbd>some-template.html.tmpl</kbd> 檔案。

注意：你的模版完整路徑不可以和已存在的 [% terms.Bugzilla %] 模版
或其他附加元件衝突，否則你的模版有可能會把其他模版覆蓋掉。
因此我們建立了 '[% name FILTER lower %]' 這個目錄，這樣你就可以
把你的模版放在這裡，以避免衝突。
