[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # email_change_date: string. The date the email change will be complete. (optional)
  # new_email:         string. The user's new email address whilst not confirmed. (optional)
  #%]

<table>
[% IF user.authorizer.can_change_password
        || (user.authorizer.can_change_email && Param('allowemailchange'))
        ||  user.authorizer.can_change_login %]
    <tr>
      <td colspan="2">
        請輸入你目前的密碼以確認此階段帳號設定的任何變更。
      </td>
    </tr>
    <tr>
      <th><label for="old_password">密碼：</label></th>
      <td>
        <input type="hidden" name="old_login" value="[% user.login FILTER html %]">
        <input type="password" name="old_password" id="old_password">
      </td>
    </tr>
  [% END %]

  [% IF user.authorizer.can_change_password %]
    <tr>
      <th><label for="new_password1">新的密碼：</label></th>
      <td>
        <input type="password" name="new_password1" id="new_password1">
        <span class="bz_info">
          （若無需變更目前密碼，此欄留空）
        </span>
      </td>
    </tr>

    <tr>
      <th><label for="new_password2">確認新的密碼：</label></th>
      <td>
        <input type="password" name="new_password2" id="new_password2">
      </td>
    </tr>
  [% END %]

  [% UNLESS Param('use_email_as_login') %]
    <tr>
      <th><label for="new_login">登入帳號：</label></th>
      <td>
        [% IF user.authorizer.can_change_login %]
          <input size="35" name="new_login" id="new_login"
                 value="[% user.login FILTER html %]">
        [% ELSE %]
          [% user.login FILTER html %]
        [% END %]
      </td>
    </tr>
  [% END %]

  [% IF user.authorizer.can_change_email
        && Param('allowemailchange')
        && email_change_date %]
    [% IF new_email %]
      <tr>
        <th><label>未確認的電子郵件地址：</label></th>
        <td>[% new_email FILTER html %]</td>
      </tr>
      <tr>
        <th><label>變更的要求將在此時間過期：</label></th>
        <td>[% email_change_date FILTER time %]</td>
      </tr>
    [% ELSE %]
      <tr>
        <th><label>確認的電子郵件地址：</label></th>
        <td>[% user.email FILTER html %]</td>
      </tr>
      <tr>
        <th><label>完成日期：</label></th>
        <td>[% email_change_date FILTER time %] 。你必須在此時間之後才能再次變更電子郵件。</td>
      </tr>
    [% END %]
  [% ELSE %]
    <tr>
      <th>
        <label for="new_email">
          你的電子郵件地址[% "／帳號" IF Param('use_email_as_login') %]：
        </label>
      </th>
      <td>
        [% IF user.authorizer.can_change_email && Param('allowemailchange') %]
          <input size="35" name="new_email" id="new_email"
                 value="[% user.email FILTER html %]"
                 [%~ ' type="email"' IF Param('use_email_as_login') %]>
        [% ELSE %]
          [% user.email FILTER html %]
        [% END %]
      </td>
    </tr>
  [% END %]


  <tr>
    <td colspan="2"><hr></td>
  </tr>

  <tr>
    <th>
      <label for="realname">真實姓名（選填，但鼓勵填寫）：</label>
    </th>
    <td>
      <input size="35" name="realname" id="realname"
             value="[% user.name FILTER html %]">
    </td>
  </tr>

  [% Hook.process('field') %]

</table>
