[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # queryshare_groups: list of groups the user may share queries with
  #                    (id, name).
  # bless_group_ids: list of group ids the user may bless.
  #%]

[% IF user.can_bless %]
  <script type="text/javascript"><!--
    function update_checkbox(group) {
      var bless_groups = [[% bless_group_ids.join(",") FILTER js %]];
      var checkbox = document.getElementById(group.name.replace(/share_(\d+)/, "force_$1"));

      if (bz_isValueInArray(bless_groups, group.value)) {
        YAHOO.util.Dom.removeClass(checkbox.parentNode, "bz_default_hidden");
      } else {
        YAHOO.util.Dom.addClass(checkbox.parentNode, "bz_default_hidden");
        checkbox.checked = false;
      }
    } //-->
  </script>
[% END %]

<p>你已儲存的搜尋如下：</p>

<blockquote>
  <table border="1" cellpadding="3">
    <tr>
      <th>
        搜尋
      </th>
      <th>
        執行
      </th>
      <th>
        編輯
      </th>
      <th>
        刪除
      </th>
      <th>
        於頁尾顯示
      </th>
      [% may_share = user.in_group(Param('querysharegroup')) && queryshare_groups.size %]
      [% IF may_share %]
        <th>
          和一群人分享
        </th>
      [% END %]
    </tr>
    <tr>
      <td>我的 [% terms.Bugs %]</td>
      <td>
        [% filtered_username = user.login FILTER uri %]
        <a href="[% Param('mybugstemplate').replace('%userid%', filtered_username) %]">執行</a>
      </td>
      <td>
        &nbsp;
      </td>
      <td>
        &nbsp;
      </td>
      <td align="center">
        <input type="checkbox"
               name="showmybugslink"
               value="1"
               [% " checked" IF user.showmybugslink %]>
      </td>
      [% IF may_share %]
        <td>
          &mdash;
        </td>
      [% END %]
    </tr>
    [% FOREACH q = user.queries %]
      <tr>
        <td>[% q.name FILTER html %]</td>
        <td>
          <a href="buglist.cgi?cmdtype=dorem&amp;remaction=run&amp;namedcmd=[% q.name FILTER uri %]
                   [% IF q.shared_with_group.id %]&amp;sharer_id=[% user.id FILTER uri %][% END %]">執行</a>
        </td>
        <td>
          <a href="query.cgi?[% q.edit_link FILTER html %]&amp;known_name=
                   [% q.name FILTER uri %]">編輯</a>
        </td>
        <td>
          [% IF q.used_in_whine %]
            先從<a href="editwhines.cgi">訂閱</a>中刪除
          [% ELSE %]
            <a href="buglist.cgi?cmdtype=dorem&amp;remaction=forget&amp;namedcmd=
                     [% q.name FILTER uri %]&amp;token=
                     [% issue_hash_token([q.id, q.name]) FILTER uri %]">刪除</a>
          [% END %]
        </td>
        <td align="center">
          <input type="checkbox"
                 name="link_in_footer_[% q.id FILTER html %]"
                 value="1"
                 alt="[% q.name FILTER html %]"
                 [% " checked" IF q.link_in_footer %]>
        </td>
        [% IF may_share %]
          <td>
            <select name="share_[% q.id FILTER html %]"
              [% IF user.can_bless %] onchange="update_checkbox(this);"[% END %]>
              <option value="">不要分享</option>
              [% FOREACH group = queryshare_groups %]
                <option value="[% group.id %]"
                        [% ' selected="selected"'
                           IF q.shared_with_group.id == group.id %]
                >[% group.name FILTER html %]</option>
              [% END %]
            </select>
            [% IF user.can_bless %]
              <span [% IF !bless_group_ids.grep("^$q.shared_with_group.id\$").0
                     %]class="bz_default_hidden"[% END %]>
                <input type="checkbox" id="force_[% q.id FILTER html %]"
                       name="force_[% q.id FILTER html %]" value="1">
                <label for="force_[% q.id FILTER html %]">加到頁尾</label>
              </span>
            [% END %]
            [% IF q.shared_with_users %]
              （已和 [% q.shared_with_users FILTER html %] 位使用者分享）
            [% END %]
          </td>
        [% END %]
      </tr>
    [% END %]
  </table>
[% IF user.can_bless %]
  <p>注意：對於每個選擇「加到頁尾」的搜尋，在你按下「儲存設定」鍵之後，將會把選擇分享的搜尋加到群組中的每一位成員的頁尾。</p>
[% END %]
</blockquote>

[% IF user.queries_available.size %]
  <p>你可以使用這些已存並由他人分享的搜尋：</p>

  <table border="1" cellpadding="3">
    <tr>
      <th>
        搜尋
      </th>
      <th>
        分享者
      </th>
      <th>
        分享給
      </th>
      <th>
        執行
      </th>
      <th>
        編輯
      </th>
      <th>
        顯示於頁尾
      </th>
    </tr>
    [% FOREACH q = user.queries_available %]
      <tr>
        <td>[% q.name FILTER html %]</td>
        <td>[% q.user.identity FILTER html %]</td>
        <td>[% q.shared_with_group.name FILTER html %]</td>
        <td>
          <a href="buglist.cgi?cmdtype=dorem&amp;remaction=run&amp;namedcmd=
                   [% q.name FILTER uri %]&amp;sharer_id=
                   [% q.user.id FILTER uri %]">執行</a>
        </td>
        <td>
          <a href="query.cgi?[% q.edit_link FILTER html %]&amp;known_name=
                   [% q.name FILTER uri %]">編輯</a>
        </td>
        <td align="center">
          <input type="checkbox"
                 name="link_in_footer_[% q.id FILTER html %]"
                 value="1"
                 alt="[% q.name FILTER html %]"
                 [% " checked" IF q.link_in_footer %]>
        </td>
      </tr>
    [% END %]
  </table>
[% ELSE %]
  <p>其他人並未和你分享搜尋。</p>
[% END %]
