[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # group: The Bugzilla::Group being changed.
  # regexp: the regexp according to which the update is performed.
  #%]

[% IF regexp %]
  [% title = "確認：刪除符合正規表達式的指定成員嗎？" %]
[% ELSE %]
  [% title = "確認：刪除指定的成員嗎？" %]
[% END %]

[% PROCESS global/header.html.tmpl
  title = title
  doc_section = "groups.html"
%]

[% IF regexp %]
  <p>此選項將會把符合下列正規表達式的所有使用者從
     '[% group.name FILTER html %]' 群組中移除：<br>
     '[% regexp FILTER html %]'</p>
[% ELSE %]
  <p>此選項將會自 '[% group.name FILTER html %]' 群組中移除所有指定的使用者。</p>
[% END %]

<p>一般而言，你只有在替以[% terms.Bugzilla %]
   2.16 或更早版本建立的群組升級時，才會用到這個選項。<br>
   請<b>小心使用</b>，並閱讀使用說明以獲得更多資訊。
</p>

<form method="post" action="editgroups.cgi">
  <input type="hidden" name="group_id" value="[% group.id FILTER html %]">
  <input type="hidden" name="regexp" value="[% regexp FILTER html %]">
  <input type="hidden" name="action" value="remove_regexp">

  <input name="token" type="hidden" value="[% token FILTER html %]">
  <input id="confirm" name="confirm" type="submit" value="確認">
  <p>或<a href="editgroups.cgi">回到編輯群組頁</a>。</p>
</form>

[% PROCESS global/footer.html.tmpl %]
