[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # groups: array with group objects having the properties:
  #   - id: number. The ID of the group.
  #   - name: string. The name of the group.
  #   - description: string. The description of the group.
  #   - userregexp: string. The user regexp for the given group.
  #   - isactive: boolean int. Specifies if the group is active or not.
  #   - isbuggroup: boolean int. Specifies if it can be used for bugs.
  #%]

[% PROCESS global/header.html.tmpl
  title = "編輯群組"
  subheader = "此頁面允許你編輯群組及輸入使用者至群組中。"
  doc_section = "groups.html"
%]

[% edit_contentlink = "editgroups.cgi?action=changeform&amp;group=%%id%%" %]
[% del_contentlink = "editgroups.cgi?action=del&amp;group=%%id%%" %]

[% columns =
  [{name               => 'name'
    heading            => '名稱'
    contentlink        => edit_contentlink
   }
   {name               => 'description'
    heading            => '描述'
    allow_html_content => 1
   }
   {name               => 'userregexp'
    heading            => '使用者正規表達式'
   }
   {name               => 'is_active_bug_group'
    heading            => "使用於 $terms.Bugs"
    align              => 'center'
   }
   {name               => 'type'
    heading            => '類別'
    align              => 'center'
   }
   {name               => 'action'
    heading            => '動作'
   }
  ]
%]

[% overrides.is_active_bug_group = {
     'is_active_bug_group' => {
       "0" => {
          override_content => 1
          content => "&nbsp;"
       }
       "1" => {
          override_content => 1
          content => "X"
       }
     }
   }

   overrides.userregexp = {
     'userregexp' => {
       "" => {
         override_content => 1
         content => "&nbsp;"
       }
     }
   }
%]

[% FOREACH group IN ["chartgroup", "insidergroup", "timetrackinggroup",
                     "querysharegroup", "debug_group"] %]
  [% special_group = Param(group) %]

  [% IF special_group %]
    [% overrides.action.name.$special_group = {
         override_content => 1
         content => "（做為 '$group' ）"
       }
    %]
  [% END %]
[% END %]

[% overrides.action.isbuggroup = {
     "1" => {
         override_content => 1
         content => "刪除"
         override_contentlink => 1
         contentlink => del_contentlink
     }
   }

   overrides.type.isbuggroup = {
     "0" => {
         override_content => 1
         content => "系統"
     }
     "1" => {
         override_content => 1
         content => "使用者"
     }
   }
%]

[% PROCESS admin/table.html.tmpl
  columns = columns
  data    = groups
  overrides = overrides
%]

<p><a href="editgroups.cgi?action=add">新增群組</a></p>

<p>
   <b>名稱</b><br>
   用於 B<!-- -->ugzilla&rarr;user&rarr;in_group() 函數，以及所有自訂的 cgi 檔案中。<br>
   也可以用於以電子郵件送出 [% terms.bugs %] 時，限制 [% terms.bug %] 於特定的群組中。
</p>

<p>
   <b>描述</b><br>
   於 [% terms.bug %] 的報告中顯示。<br>
   群組成員可以選擇此 [% terms.bug %] 是否僅限制於同群組的其他成員可以看見。
</p>

<p>
   <b>使用者正規表達式</b><br>
   選用。<br>
   若勾選，則會將符合正規表達式的所有使用者均加入此群組中。別忘了加入字尾辨識字元 '$' 。<br>
   範例： '@mycompany\.com$'
</p>

<p>
   <b>使用於[% terms.Bugs %]</b><br>
   此一旗標決定此群組是否可以被用於 [% terms.bugs %] 中。<br>
   如不選擇，使用者將無法再加入 [% terms.bugs %] 到此一群組中，不過已於此群組中的
   [% terms.bugs %] 並不會被影響。這麼做會比刪除該群組還要好一點。
</p>

<p>
   <b>類別</b><br>
   此欄位用以辨別系統群組。
</p>

[% PROCESS global/footer.html.tmpl %]
