[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # field: Bugzila::Field; the current field being edited
  #%]

[% title = BLOCK %]
  編輯自訂欄位 '[% field.name FILTER html %]' ([% field.description FILTER html %])
[% END %]

[% javascript = BLOCK %]
  [% INCLUDE "admin/custom_fields/cf-js.js.tmpl" %]
[% END %]

[% PROCESS global/header.html.tmpl
           title = title
           onload = "toggleCheckbox(document.getElementById('enter_bug'), 'new_bugmail');"
           javascript_urls = [ 'js/util.js' ]
           doc_section = "administering/custom-fields.html#editing-custom-fields"
           style_urls = ['skins/standard/admin.css']
%]

<p>
  「描述」是一個用來描述欄位，而且非常短的字串。將會在使用者介面使用它來當作這個自訂欄位的標籤。
</p>

<form id="edit_field" action="editfields.cgi" method="GET">
  [% PROCESS "admin/custom_fields/edit-common.html.tmpl" field = field %]

  <input type="hidden" name="action" value="update">
  <input type="hidden" name="name" value="[% field.name FILTER html %]">
  <input type="hidden" name="token" value="[% token FILTER html %]">
  <input type="submit" id="edit" value="送出">
</form>

[% IF field.obsolete %]
<p>
  <a href="editfields.cgi?action=del&amp;name=[% field.name FILTER html %]">自資料庫中刪除此自訂欄位。</a><br>
  只有在此自訂欄位從未於 [% terms.bug %] 中使用過時，才會成功。
</p>
[% END %]

<p>
  <a href="editfields.cgi">回到現有的自訂欄位列表</a>
</p>

[% PROCESS global/footer.html.tmpl %]
