[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # custom_fields: a list of Bugzilla::Field objects, representing custom fields.
  #%]

[% PROCESS "global/field-descs.none.tmpl" %]

[% PROCESS global/header.html.tmpl
  title = "自訂欄位"
  doc_section = "custom-fields.html"
%]

[% delete_contentlink = BLOCK %]editfields.cgi?action=del&amp;name=%%name%%[% END %]

[% columns = [
     {
       name => "name"
       heading => "編輯自訂欄位…"
       contentlink => "editfields.cgi?action=edit&amp;name=%%name%%"
     },
     {
       name => "description"
       heading => "描述"
     },
     {
       name => "sortkey"
       heading => "排序鍵"
     },
     {
       name => "type"
       heading => "種類"
     },
     {
       name => "enter_bug"
       heading => "建立 $terms.Bug 時可以編輯"
     },
     {
       name => "mailhead"
       heading => "建立 $terms.Bug 時是否在 $terms.Bug 通知信中通知"
     },
     {
       name => "obsolete"
       heading => "已廢棄"
     },
     {
       name => "is_mandatory"
       heading => "強制"
     },
     {
       name => "action"
       heading => "動作"
       content => ""
     }
   ]
%]

[% USE Bugzilla %]
[% custom_fields = Bugzilla.fields({ custom => 1 }) %]

[%# We want to display the type name of fields, not their type ID. %]
[% overrides.type = {} %]

[% FOREACH field_type = field_types.keys %]
  [% overrides.type.type.$field_type = {
       override_content => 1
       content => field_types.$field_type
    }
  %]
[% END %]

[% overrides.action.obsolete = {
     "1" => {
       override_content => 1
       content => "刪除"
       override_contentlink => 1
       contentlink => delete_contentlink
     }
   }
%]

[% PROCESS admin/table.html.tmpl
     columns = columns
     overrides = overrides
     data = custom_fields
%]

<p>
  <a href="editfields.cgi?action=add">新增一個自訂欄位</a>
</p>

[% PROCESS global/footer.html.tmpl %]
