[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # Contributor(s): Tiago R. Mello <timello@async.com.br>
  #
  #%]

[%# INTERFACE:
  # product: Bugzilla::Product object; The product
  #
  #%]

[% title = BLOCK %]已刪除產品 '[% product.name FILTER html %]'[% END %]

[% PROCESS global/header.html.tmpl title = title %]

[% IF product.bug_count %]
  已刪除參照到刪除的 [% terms.bugs %] 的所有參照。
[% END %]

<p>
  已刪除子產品。<br>
  已刪除版本。<br>
  已刪除里程碑。
</p>

<p>
  已刪除群組控管。<br>
  已刪除旗標的「包括」及「不包括」。
</p>

<p>
  已刪除產品 [% product.name FILTER html %] 。
</p>

[% PROCESS admin/products/footer.html.tmpl
           no_edit_product_link = 1
%]

[% PROCESS global/footer.html.tmpl %]
