[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # product : Bugzilla::Product Object; new product.
  # classification: Bugzilla::Classification Object; The product classification (may be empty or missing)
  # changes: hashref with all changes made to the product. Each key is an edited field,
  #          and its value is an arrayref of the form [old values, new values].
  #%]

[% IF classification %]
  [% classification_text = BLOCK %]
    分類 '[% classification.name FILTER html %]' 中的
  [% END %]
[% END %]

[% title = BLOCK %]更新[% classification_text FILTER none %]產品
                   '[% product.name FILTER html %]' 中[% END %]$
[% PROCESS global/header.html.tmpl
  title = title
  style_urls = ['skins/standard/admin.css']
%]

[% IF changes.name.defined %]
  <p>
  已將產品名稱從 '[% changes.name.0 FILTER html %]' 更新為
  '<a href="editproducts.cgi?action=edit&amp;product=
  [%- product.name FILTER uri %]">[% product.name FILTER html %]</a>' 。
  </p>
[% END %]


[% IF changes.description.defined %]
  <p>
    已將描述更新為：
  </p>
  <p style="margin: 1em 3em 1em 3em">[% product.description FILTER html_light %]</p>
[% END %]

[% IF changes.isactive.defined %]
  <p>
  產品現在[% IF product.is_active %]允許[% ELSE %]不允許[% END %]輸入新的 [% terms.bugs %] 。
  </p>
[% END %]

[% IF changes.defaultmilestone.defined %]
  <p>
  已將預設里程碑從 '[% changes.defaultmilestone.0 FILTER html %]' 更新為
  '[% product.default_milestone FILTER html %]' 。
  </p>
[% END %]

[% IF changes.allows_unconfirmed.defined %]
  <p>
  [% IF product.allows_unconfirmed %]
    產品現在已允許
    [%+ display_value('bug_status', 'UNCONFIRMED') FILTER html %] 狀態。
  [% ELSE %]
    產品現在已不允許
    [%+ display_value('bug_status', 'UNCONFIRMED') FILTER html %] 狀態。
    注意：任何
    <a href="buglist.cgi?product=
            [%- product.name FILTER uri %]&amp;bug_status=UNCONFIRMED">狀態為
    [%+ display_value('bug_status', 'UNCONFIRMED') FILTER html %] 的 [%+ terms.bugs %]</a>
    在被編輯前仍會維持原本的狀態。
  [% END %]
  </p>
[% END %]

[% Hook.process('changes') %]

[% IF !changes.keys.size %]
  <p>並未對產品 '[% product.name FILTER html %]' 做出任何變更。</p>
[% END %]

[% PROCESS admin/products/footer.html.tmpl %]

[% PROCESS global/footer.html.tmpl %]
