[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gavin Shelley <bugzilla@chimpychompy.org>
  #                 Frédéric Buclin <LpSolit@gmail.com>
  #%]

[%# INTERFACE:
  # product : Bugzilla::Product Object; new product.
  # classification: Bugzilla::Classification Object; The product classification (may be empty or missing)
  # changes: hashref with all changes made to the product. Each key is an edited field,
  #          and its value is an arrayref of the form [old values, new values].
  #%]

[% IF classification %]
  [% classification_text = BLOCK %]
    分類 '[% classification.name FILTER html %]' 中的
  [% END %]
[% END %]

[% title = BLOCK %]更新[% classification_text FILTER none %]產品
                   '[% product.name FILTER html %]' 中[% END %]$
[% PROCESS global/header.html.tmpl
  title = title
  style_urls = ['skins/standard/admin.css']
%]

[% PROCESS "global/field-descs.none.tmpl" %]

[% IF changes.name.defined %]
  <p>
  已將產品名稱從 '[% changes.name.0 FILTER html %]' 更新為
  '<a href="editproducts.cgi?action=edit&amp;product=
  [%- product.name FILTER url_quote %]">[% product.name FILTER html %]</a>' 。
  </p>
[% END %]


[% IF changes.description.defined %]
  <p>
    已將描述更新為：
  </p>
  <p style="margin: 1em 3em 1em 3em">[% product.description FILTER html_light %]</p>
[% END %]

[% IF changes.isactive.defined %]
  <p>
  產品現在[% IF product.is_active %]允許[% ELSE %]不允許[% END %]輸入新的 [% terms.bugs %] 。
  </p>
[% END %]

[% IF changes.defaultmilestone.defined %]
  <p>
  已將預設里程碑從 '[% changes.defaultmilestone.0 FILTER html %]' 更新為
  '[% product.default_milestone FILTER html %]' 。
  </p>
[% END %]

[% IF changes.votesperuser.defined %]
  <p>
  已將每人
  [%+ changes.votesperuser.0 FILTER html %] 票更新為
  [%+ product.votes_per_user FILTER html %] 票。
  </p>
  [% checkvotes = 1 %]
[% END %]

[% IF changes.maxvotesperbug.defined %]
  <p>
  已將每個 [% terms.bug %] 最多
  [%+ changes.maxvotesperbug.0 FILTER html %] 票更新為最多
  [%+ product.max_votes_per_bug FILTER html %] 票。
  </p>
  [% checkvotes = 1 %]
[% END %]

[% IF changes.votestoconfirm.defined %]
  <p>
  已將確認 [% terms.bug %] 需要的票數從
  [%+ changes.votestoconfirm.0 FILTER html %] 票更新為
  [%+ product.votes_to_confirm FILTER html %] 票。
  </p>
  [% checkvotes = 1 %]
[% END %]

[% IF changes.allows_unconfirmed.defined %]
  <p>
  [% IF product.allows_unconfirmed %]
    產品現在已允許
    [%+ display_value('bug_status', 'UNCONFIRMED') FILTER html %] 狀態。
  [% ELSE %]
    產品現在已不允許
    [%+ display_value('bug_status', 'UNCONFIRMED') FILTER html %] 狀態。
    注意：任何
    <a href="buglist.cgi?product=
            [%- product.name FILTER url_quote %]&amp;bug_status=UNCONFIRMED">狀態為
    [%+ display_value('bug_status', 'UNCONFIRMED') FILTER html %] 的 [%+ terms.bugs %]</a>
    在被編輯前仍會維持原本的狀態。
  [% END %]
  </p>
[% END %]

[% IF !changes.keys.size %]
  <p>並未對產品 '[% product.name FILTER html %]' 做出任何變更。</p>
[% END %]

[%# Note that this display of changed votes and/or confirmed bugs is
    not very scalable. We could have a _lot_, and we just list them all.
    One day we should limit this perhaps, or have a more scalable display %]


[% IF checkvotes %]
  <hr>

  <p>檢查此產品中已存在的票數，看是否有人現在對一個 [% terms.bug %] 有太多票…<br>
  [% IF changes.too_many_votes.size %]
    [% FOREACH detail = changes.too_many_votes %]
      &rarr;自 [% detail.name FILTER html %] 刪除對 [% terms.bug %] <a href="show_bug.cgi?id=
     [%- detail.id FILTER url_quote %]">
     [%- detail.id FILTER html %]</a> 的過多票數。<br>
    [% END %]
  [% ELSE %]
    &rarr;無。
  [% END %]
  </p>

  <p>檢查此產品中已存在的票數，看是否有人現在有過多的總票數…<br>
  [% IF changes.too_many_total_votes.size %]
    [% FOREACH detail = changes.too_many_total_votes %]
      &rarr;自 [% detail.name FILTER html %] 刪除對 [% terms.bug %] <a href="show_bug.cgi?id=
     [%- detail.id FILTER url_quote %]">
     [%- detail.id FILTER html %]</a> 的過多票數。<br>
    [% END %]
  [% ELSE %]
    &rarr;無。
  [% END %]
  </p>

  <p>檢查此產品中原先狀態為未確認的 [% terms.bugs %] ，看是否有 [% terms.bugs %] 符合新的票數標準…<br>
  [% IF changes.confirmed_bugs.size %]
    [% FOREACH id = changes.confirmed_bugs %]

      [%# This is INCLUDED instead of PROCESSED to avoid variables getting
          overwritten, which happens otherwise %]
      [% INCLUDE bug/process/results.html.tmpl
        type = 'votes'
        mailrecipients = { 'changer' => user.login }
        header_done = 1
        id = id
      %]
    [% END %]
  [% ELSE %]
    &rarr;無。
  [% END %]
  </p>

[% END %]

[% PROCESS admin/products/footer.html.tmpl %]

[% PROCESS global/footer.html.tmpl %]
