[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # classifications: an array of classification objects containing
  #                  at least one product accessible by the user.
  #%]

[% IF target == "enter_bug.cgi" %]
  [% title = "選擇分類" %]
  [% subheader = "請選擇分類。" %]
[% END %]

[% DEFAULT title = "選擇分類" %]
[% PROCESS global/header.html.tmpl %]

<table>
  <tr>
    <th align="right">
      <a href="[% target FILTER uri %]?classification=__all
            [% IF cloned_bug_id %]&amp;cloned_bug_id=[% cloned_bug_id FILTER uri %][% END -%]
            [%- IF format %]&amp;format=[% format FILTER uri %][% END %]">
      全部</a>：
    </th>

    <td valign="top">&nbsp;顯示所有產品</td>
  </tr>
  <tr>
    <th colspan="2">&nbsp;</th>
  </tr>

[% FOREACH class = classifications %]
  <tr>
    <th align="right">
      <a href="[% target FILTER uri %]?classification=[% class.name FILTER uri -%]
            [%- IF cloned_bug_id %]&amp;cloned_bug_id=[% cloned_bug_id FILTER uri %][% END -%]
            [%- IF format %]&amp;format=[% format FILTER uri %][% END %]">
      [% class.name FILTER html %]</a>:
    </th>

    [% IF class.description %]
      <td valign="top">&nbsp;[% class.description FILTER html_light %]</td>
    [% END %]
  </tr>
[% END %]

</table>

[% PROCESS global/footer.html.tmpl %]
