[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gervase Markham <gerv@gerv.net>
  #%]

[%# INTERFACE:
  # header_done: boolean. True if the header has already been printed.
  # error: string. The tag of the error.
  # variables: hash. Useful data about the problem. The keys are the variable
  #  names, and the values the variable values.
  #%]

[%# This is a list of all the possible code errors. Please keep them in
  # alphabetical order by error tag, and leave a blank line between errors.
  #
  # Note that you must explicitly filter every single template variable
  # in this file; if you do not wish to change it, use the "none" filter.
  #%]

[% PROCESS "global/field-descs.none.tmpl" %]

[% DEFAULT title = "內部發生錯誤" %]

[% error_message = BLOCK %]
  [% IF error == "attachment_local_storage_disabled" %]
    [% title = "儲存附件功能已停用" %]
    你無法將附件儲存於伺服器端。此功能已被停用。

  [% ELSIF error == "attachment_url_disabled" %]
    [% title = "附加網址功能已停用" %]
    你無法附加網址。此功能已被停用。

  [% ELSIF error == "auth_invalid_email" %]
    [% title = "無效的電子郵件地址" %]
    在試圖建立或更新你的帳號的時候，我們收到了一個無法通過電子郵件語法檢查的地址
    (<b>[% addr FILTER html %]</b>)。
    [% IF default %]
      一個有效的電子郵件地址必須要有一個 @ 符號，以及在 @ 符號之後至少有一個 . 符號。
    [% ELSE %]
      [%+ Param('emailregexpdesc') %]
    [% END %]
    另外，不可以含有下列特殊字元：
    <tt>\ ( ) &amp; &lt; &gt; , ; : &quot; [ ]</tt>，或是任何空白。

  [% ELSIF error == "authres_unhandled" %]
    [% value FILTER html %] 結果值並非由登入碼處理。

  [% ELSIF error == "bad_page_cgi_id" %]
    [% title = "無效的頁面編號" %]
    頁面編號 <code>[% page_id FILTER html %]</code> 並非有效的頁面編號。

  [% ELSIF error == "bad_arg" %]
    送到 <code>[% function FILTER html %]</code> 函數的是不正確的參數 <code>[% argument FILTER html %]</code> 。

  [% ELSIF error == "bug_error" %]
    在試圖傳回 [% terms.bug %] [%+ bug.bug_id FILTER html %] 時，傳回錯誤 [% bug.error FILTER html %] 。

  [% ELSIF error == "chart_data_not_generated" %]
    [% admindocslinks = {'extraconfig.html' => '設定圖表'} %]
    [% IF product %]
      因為自建立產品以來尚未收集產生圖表用的資料，所以目前尚未有產品 <em>[% product FILTER html %]</em> 的圖表。
    [% ELSE %]
      尚未收集圖表用的資料。
    [% END %]
    請隔一天後再試。如果你一天後仍然看到此一訊息，請將此錯誤回報給
    <a href="mailto:[% Param('maintainer') %]">[% Param('maintainer') %]</a> 。

  [% ELSIF error == "chart_datafile_corrupt" %]
    圖表檔案 [% file FILTER html %] 已損毀。

  [% ELSIF error == "chart_dir_nonexistent" %]
    不存在目錄 <tt>[% dir FILTER html %]</tt> 以及 <tt>[% graph_dir FILTER html %]</tt> 。

  [% ELSIF error == "chart_file_open_fail" %]
    無法開啟圖表檔案 <tt>[% filename FILTER html %]</tt> 。

  [% ELSIF error == "column_not_null_without_default" %]
    新增欄位 [% name FILTER html %] 失敗：
    <br>除非你在參數 <code>$init_value</code> 中做設定，否則你不能在現有的表格中加入沒有預設值的 NOT NULL 欄位。

  [% ELSIF error == "column_not_null_no_default_alter" %]
    由於 [% name FILTER html %] 欄位內含有 NULL 值，因此你不能在不指定預設值或指定一個值給
    $set_nulls_to 的前提下，將 [% name FILTER html %] 欄位設為 NOT NULL 值。

  [% ELSIF error == "comma_operator_deprecated" %]
    [% title = "SQL 查詢發生內部錯誤" %]
    在建立內含 JOIN 的查詢時，SQL 查詢發生內部錯誤。

  [% ELSIF error == "comment_extra_data_not_allowed" %]
    你嘗試將 <code>extra_data</code> 欄位設定為
    '[% extra_data FILTER html %]' ，但是類別 [% type FILTER html %]
    的意見不允許 <code>extra_data</code> 此參數。

  [% ELSIF error == "comment_extra_data_required" %]
    類別 [% type FILTER html %] 的意見需要設定
    <code>extra_data</code> 此參數。

  [% ELSIF error == "comment_extra_data_not_numeric" %]
    你嘗試將 <code>extra_data</code> 欄位設定為
    '[% extra_data FILTER html %]' ，但是類別 [% type FILTER html %]
    的意見需要設定數字的 <code>extra_data</code> 參數。

  [% ELSIF error == "comment_type_invalid" %]
    '[% type FILTER html %]' is not a valid comment type.

  [% ELSIF error == "cookies_need_value" %]
    每個 cookie 都必須要有一個數值。

  [% ELSIF error == "db_rename_conflict" %]
    名稱衝突：無法將 [% old FILTER html %] 更名為 [% new FILTER html %] ，因為 [% new FILTER html %] 已存在。

  [% ELSIF error == "env_no_email" %]
    [% terms.Bugzilla %]並未從該環境中收到電子郵件地址。
    [% IF Param("auth_env_email") %]
      這代表 '[% Param("auth_env_email") FILTER html %]' 環境變數是空白或不存在。
    [% ELSE %]
      你必須設定 "auth_env_email" 參數到包含使用者的電子郵件地址的該環境變數名稱中。
    [% END %]

  [% ELSIF error == "extension_must_be_subclass" %]
    來自 <code>[% filename FILTER html %]</code> 的 <code>[% package FILTER html %]</code>
    並不是 <code>[% class FILTER html %]</code> 的 subclass 。

  [% ELSIF error == "extension_must_return_name" %]
    <code>[% extension FILTER html %]</code> 回傳了
    <code>[% returned FILTER html %]</code> ，但這不是個有效的附加元件名稱。
    附加元件必須要回傳它們的名稱，而不是 <code>1</code> 或數字。
    詳情請參閱
    <a href="[% docs_urlbase FILTER html %]api/Bugzilla/Extension.html">Bugzilla::Extension</a> 。

  [% ELSIF error == "extension_no_name" %]
    並未在（自 <code>[% filename FILTER html %]</code> 載入的）
    <code>[% package FILTER html %]</code> 中找到
    <code>NAME</code> method 。
    這代表附加元件至少有以下其中一項問題：

    <ul>
      <li><code>[% filename FILTER html %]</code> 並未定義
        <code>[% package FILTER html %]</code> package 。</li>
      <li><code>[% package FILTER html %]</code> 並未定義
        <code>NAME</code> method （或是 <code>NAME</code> method
        回傳的是空字串）。</li>
    </ul>

  [% ELSIF error == "extern_id_conflict" %]
    在資料庫中， '[% username FILTER html %]' 對應到外部編號
    '[% extern_id FILTER html %]' ，但是你的帳號來源說 '[% extern_user FILTER html %]' 擁有該外部編號。

  [% ELSIF error == "feature_disabled" %]
    這台機器上的 [% terms.Bugzilla %] 並不允許 [% install_string("feature_$feature") FILTER html %] 這項功能。
    [% IF user.in_group('admin') %]
      如果你想要啟用此項功能，請執行
      <kbd>checksetup.pl</kbd> 以確認啟用此功能所必須要的最低需求。
    [% END %]

  [% ELSIF error == "field_choice_must_use_type" %]
    當你在 <code>Bugzilla::Field::Choice</code> 呼叫一個 class method
    時，你必須呼叫 <code>Bugzilla::Field::Choice-&gt;type('some_field')</code>
    來產生正確的 class ，而無法直接透過 <code>Bugzilla::Field::Choice</code>
    呼叫 class method 。

  [% ELSIF error == "field_not_custom" %]
    '[% field.description FILTER html %]' ([% field.name FILTER html %])
    並非自訂欄位。

  [% ELSIF error == "field_type_mismatch" %]
    無法同時處理 <code>[% field FILTER html %]</code> 以及 <code>[% type FILTER html %]</code> 。

  [% ELSIF error == "field_type_not_specified" %]
    [% title = "未指定欄位種類" %]
    在新增自訂欄位時，你必須指定欄位的種類。

  [% ELSIF error == "flag_requestee_disabled" %]
    [% title = "無法要求特定的人設定旗標" %]
    你不能要求特定的人設定 <em>[% type.name FILTER html %]</em> 。

  [% ELSIF error == "flag_type_inactive" %]
    [% title = "無效的旗標類型" %]
    旗標類型 [% type FILTER html %] 無效，也不能用於建立新旗標。

  [% ELSIF error == "flag_type_nonexistent" %]
    沒有編號為 <em>[% id FILTER html %]</em> 的旗標類型。

  [% ELSIF error == "flag_type_target_type_invalid" %]
    目標種類既非 <em>[% terms.bug %]</em> ，也不是<em>附件</em>，而是 <em>[% target_type FILTER html %]</em> 。

  [% ELSIF error == "flag_unexpected_object" %]
    [% title = "無法被辨認的物件" %]
    無法對種類是 [% caller FILTER html %] 的物件設定旗標。
    旗標僅能設定於 [% terms.bugs %] 和附件上。

  [% ELSIF error == "illegal_content_type_method" %]
    送出的表單因故損壞。標明如何決定內容類別的欄位
    <em>content method</em> 的值，應該是<em>自動偵側
    (autodetect)</em> 、<em>自清單中選擇
    (list)</em>或<em>手動輸入 (manual)</em> ，但表單收到的卻是
    <em>[% contenttypemethod FILTER html %]</em> 。

  [% ELSIF error == "illegal_field" %]
    並未設定有效的 [% field FILTER html %] 。

  [% ELSIF error == "invalid_attach_id_to_obsolete" %]
    你想要廢棄的附件編號其中之一（[% attach_id FILTER html %]）無效。

  [% ELSIF error == "invalid_customfield_type" %]
    [% title = "無效的欄位種類" %]
    <em>[% type FILTER html %]</em> 並非有效的欄位種類。

  [% ELSIF error == "invalid_dimensions" %]
    [% title = "無效的維度" %]
    所指定的寬度或高度並非正整數。

[% ELSIF error == "invalid_feature" %]
    [% title = "無效的功能名稱" %]
    [% feature FILTER html %] 並非有效的功能名稱。請參考
    <code>Bugzilla::Install::Requirements</code> 的
    <code>OPTIONAL_MODULES</code> 來尋找有效的名稱。

  [% ELSIF error == "invalid_flag_association" %]
    [% title = "無效的旗標關連" %]
    某些旗標並不屬於
    [% IF attach_id %]
      附件 [% attach_id FILTER html %] 。
    [% ELSE %]
      [%+ terms.bug %] [%+ bug_id FILTER html %] 。
    [% END %]

  [% ELSIF error == "invalid_post_bug_submit_action" %]
    無效的 post_bug_submit_action 設定。

  [% ELSIF error == "invalid_series_id" %]
    [% title = "無效的系列" %]
    系列編號 [% series_id FILTER html %] 無效。可能是該系列已刪除。

  [% ELSIF error == "invalid_webservergroup" %]
    沒有此群組： [% group FILTER html %] 。<br>
    請檢查你在 [% constants.bz_locations.localconfig FILTER html %]
    的 $webservergroup 設定。

  [% ELSIF error == "invalid_field_name" %]
    不能把 [% field FILTER html %] 做為欄位名稱。

  [% ELSIF error == "invalid_keyword_id" %]
    找不到關鍵字編號 <em>[% id FILTER html %]</em> 。

  [% ELSIF error == "invalid_user" %]
    [% title = "無效的使用者" %]
    [% IF user_id %]
      沒有帳號為 <em>[% user_id FILTER html %]</em> 的使用者。
    [% ELSIF user_login %]
      沒有帳號為 <em>[% user_login FILTER html %]</em> 的使用者。
    [% ELSE %]
      並未輸入使用者帳號。
    [% END %]

  [% ELSIF error == "jobqueue_insert_failed" %]
   [% title = "Job 排程失敗" %]
    在 job 排程中插入 <code>[% job FILTER html %]</code> 時，出現下列錯誤訊息：
    [% errmsg FILTER html %]

  [% ELSIF error == "jobqueue_no_job_mapping" %]
    <code>Bugzilla::JobQueue</code> 並未被指派來處理
    "[% job FILTER html %]" 。你必須在
    <code>Bugzilla::JobQueue</code> 裡把此種 job 類別加入 <code>JOB_MAP</code> 此常數中。

  [% ELSIF error == "ldap_bind_failed" %]
    Bind LDAP 伺服器失敗。錯誤訊息為：
    <code>[% errstr FILTER html %]</code>

  [% ELSIF error == "ldap_cannot_retreive_attr" %]
    指定的 LDAP 屬性 [% attr FILTER html %] 不存在。

  [% ELSIF error == "ldap_connect_failed" %]
    無法連線到 LDAP 伺服器 <code>[% server FILTER html %]</code>。

  [% ELSIF error == "ldap_start_tls_failed" %]
    無法以 TLS 連線至 LDAP 伺服器：<code>[% error FILTER html %]</code>。

  [% ELSIF error == "ldap_search_error" %]
    在 LDAP 嘗試搜尋 &quot;[% username FILTER html %]&quot; 時，出現錯誤：
    [% IF errstr %]
      <code>[% errstr FILTER html %]</code>
    [% ELSE %]
      在 LDAP 中找不到使用者
    [% END %]

  [% ELSIF error == "ldap_server_not_defined" %]
    LDAP 伺服器的認證未被定義。

  [% ELSIF error == "mail_send_error" %]
    從 '[% mail.header('From') FILTER html %]' 寄信到 '[% mail.header('To') FILTER html %]' 時，出現錯誤：
    [% msg FILTER html %]

  [% ELSIF error == "mismatched_bug_ids_on_obsolete" %]
    附件 [% attach_id FILTER html %] （[% description FILTER html %]）是附加在 [% terms.bug %]
    [%+ attach_bug_id FILTER html %] 的附件，但在對 [% terms.bug %]
    [%+ my_bug_id FILTER html %] 新增附件時，你嘗試將它標記為「已廢棄的附件」。

  [% ELSIF error == "missing_bug_id" %]
    並未輸入 [% terms.bug %] 編號。

  [% ELSIF error == "missing_series_id" %]
    已將一系列插入至資料庫，但是並未傳回 series_id 的值。系列為：
    [% series.category FILTER html %] /
    [%+ series.subcategory FILTER html %] /
    [%+ series.name FILTER html %]。

  [% ELSIF error == "must_be_patch" %]
    [% title = "附件必須是 patch" %]
    附件 #[% attach_id FILTER html %] 必須是一個 patch 。

  [% ELSIF error == "need_quipid" %]
    需要輸入有效的智語編號。

  [% ELSIF error == "not_in_transaction" %]
    未開始變更就嘗試結束。

  [% ELSIF error == "object_dep_sort_loop" %]
    '[% field FILTER html %] 欄位在 VALIDATOR_DEPENDENCIES
    發生迴圈。以下是我們考慮的欄位：
    [%+ considered.join(', ') FILTER html %] 。

  [% ELSIF error == "param_invalid" %]
    [% title = "無效的參數。" %]
    對 [% function FILTER html %] 而言，
    <code>[% param FILTER html %]</code> 是無效的參數。

  [% ELSIF error == "param_must_be_numeric" %]
    [% title = "無效的參數。" %]
    對 <code>[% function FILTER html %]</code> 設定了無效的參數
    <code>[% param FILTER html %]</code> ：必須是數字。

  [% ELSIF error == "param_required" %]
    [% title = "未輸入參數" %]
    功能 <code>[% function FILTER html %]</code> 需要參數
    <code>[% param FILTER html %]</code> ，但並未設定該參數。

  [% ELSIF error == "params_required" %]
    [% title = "未輸入參數" %]
    功能 <code>[% function FILTER html %]</code> 需要你設定
    以下的參數之一：
    <code>[% params.join(', ') FILTER html %]</code>

  [% ELSIF error == "product_empty_group_controls" %]
    [% title = "缺少群組控管" %]
    必須對 [% group.name FILTER html %] 群組設定新的群組控管權限。

  [% ELSIF error == "product_illegal_group_control" %]
    [% title = "不合法的群組控管" %]
    '[% value FILTER html %]' 並不是
    '[% field FILTER html %]' 欄位的有效數值。

  [% ELSIF error == "protection_violation" %]
    功能 <code>[% function FILTER html %]</code> 是由外部
    [% IF caller %] (<code>[%+ caller FILTER html %]</code>) [% END %]
    [% IF argument %]以參數 <code>[% argument FILTER html %]</code>[% END %]
    呼叫的。此功能只能從 <code>[% superclass FILTER html %]</code> 的子類中呼叫。

  [% ELSIF error == "radius_preparation_error" %]
    在準備 RADIUS 認證要求時發生錯誤：
    <code>[% errstr FILTER html %]</code>。

  [% ELSIF error == "report_axis_invalid" %]
    <em>[% val FILTER html %]</em> 對
    [%+ IF    fld == "x" %] X 軸
    [%+ ELSIF fld == "y" %] Y 軸
    [%+ ELSIF fld == "z" %]多表格／多圖
    [%+ ELSE %]一份報告的座標[% END %]而言，並非有效的值。

  [% ELSIF error == "setting_info_invalid" %]
    要新增設定，你必須輸入設定名稱、合適的數值／排序鍵，以及預設值。

  [% ELSIF error == "setting_name_invalid" %]
    設定名稱 <em>[% name FILTER html %]</em> 並非有效的選項。
    設定名稱必須以字母開頭，且僅包含字母、數字，或者是符號 '_' 、 '-' 、 '.' 和 ':' 。

  [% ELSIF error == "setting_subclass_invalid" %]
    沒有 <code>[% subclass FILTER html %]</code> 此設定子類。

  [% ELSIF error == "setting_value_invalid" %]
    所設定的數值 "<code>[% value FILTER html %]</code>" 並不在設定 <em>[% name FILTER html %]</em> 的有效數值清單中。

  [% ELSIF error == "token_generation_error" %]
    Token 產生系統發生嚴重錯誤。

  [% ELSIF error == "template_error" %]
    [% template_error_msg FILTER html %]

  [% ELSIF error == "template_invalid" %]
    在模版中呼叫了無效的檔案名稱： [% name FILTER html %] 。

  [% ELSIF error == "unable_to_retrieve_password" %]
    無法自資料庫中取得舊密碼。

  [% ELSIF error == "undefined_field" %]
    表單欄位 [% field FILTER html %] 並未定義。

  [% ELSIF error == "unknown_method" %]
    找不到指定的 method '[% method FILTER html %]' 。

  [% ELSIF error == "usage_mode_invalid" %]
    '[% invalid_usage_mode FILTER html %]' 並非有效的使用模式。

  [% ELSE %]
    [%# Try to find hooked error messages %]
    [% error_message = Hook.process("errors") %]
    [% IF NOT error_message %]
      [% title = "內部發生錯誤" %]
      內部發生錯誤，但是 [% terms.Bugzilla %] 並不知道
      <code>[% error FILTER html %]</code> 所代表的意義。<br>
      <br>
      如果你是一個 [% terms.Bugzilla %] 的使用者，但卻看到此一訊息時，請將它轉寄給 [% Param('maintainer') %] 。
    [% ELSE %]
      [% error_message FILTER none %]
    [% END %]
  [% END %]
[% END %]

[%# We only want HTML error messages for ERROR_MODE_WEBPAGE %]
[% USE Bugzilla %]
[% IF Bugzilla.error_mode != constants.ERROR_MODE_WEBPAGE %]
  [% IF Bugzilla.usage_mode == constants.USAGE_MODE_BROWSER %]
    [% error_message FILTER none %]
  [% ELSE %]
    [% error_message FILTER txt %]
  [% END %]
  [% RETURN %]
[% END %]

[% UNLESS header_done %]
  [% PROCESS global/header.html.tmpl %]
[% END %]

[% PROCESS global/docslinks.html.tmpl
   docslinks      = docslinks
   admindocslinks = admindocslinks
%]

<tt>
  <p>
    [% terms.Bugzilla %] 內部發生錯誤。請將此頁面，以及出現此訊息前你所做過的動作一併寄到
    [% Param("maintainer") %]。
  </p>
  <script type="text/javascript"> <!--
    document.write("<p>網址： " +
                    document.location.href.replace(/&/g,"&amp;")
                                          .replace(/</g,"&lt;")
                                          .replace(/>/g,"&gt;") + "</p>");
  // -->
  </script>
</tt>

<table cellpadding="20">
  <tr>
    <td bgcolor="#ff0000">
      <font size="+2">
        [% error_message FILTER none %]
      </font>
    </td>
  </tr>
</table>

<p>Traceback:</p>
<pre>[% traceback FILTER html_linebreak %]</pre>

[% IF variables %]
  <pre>
變數：
  [% FOREACH key = variables.keys %]
    [%+ key FILTER html %] ： [%+ variables.$key FILTER html %]
  [% END %]
  </pre>
[% END %]

[% PROCESS global/footer.html.tmpl %]
