[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # fields: hash/record; the fields being matched, each of which has:
  #     type: single|multi: whether or not the user can select multiple matches
  #     flag_type: for flag requestee fields, the type of flag being requested
  # matches: hash; Hierarchical.  The levels go like this:
  #     field_name {
  #         pattern_text {
  #             'users'  = @user_list           (user objects)
  #             'status' = success|fail|trunc   (result of search.
  #                             'trunc' (truncated) means max was reached)
  #         }
  #     }
  # script: string; The name of the calling script, used to create a
  #     self-referential URL
  #%]

[%# This lists fields which use the user auto-completion feature and which
  # are not listed in field_descs. %]
[% field_labels = { # Used by editcomponents.cgi
                    "initialcc"               => "預設寄件副本清單",
                    "initialowner"            => "預設負責人",
                    "initialqacontact"        => "預設 QA 連絡人",
                    # Used by process_bug.cgi
                    "masscc"                  => "寄件副本清單",
                    # Used by request.cgi
                    "requester"               => "要求者",
                    "requestee"               => "被要求者",
                    # Used by userprefs.cgi
                    "new_watchedusers"        => "監控清單",

   }
%]
[% IF matchsuccess == 1 %]
  [% PROCESS global/header.html.tmpl title="確認符合" %]

  [% USE Bugzilla %]

  <form method="post"
  [% IF script -%]
    action="[% script %]"
  [%- END -%]
  [% IF Bugzilla.cgi.param("data") %]
    enctype="multipart/form-data"
  [% END %]
  >

  <p>
    [% IF matchmultiple %]
      你在前一頁所輸入的名稱或電子郵件地址，在 [% terms.Bugzilla %] 中符合多筆資料。
      <br>請檢視下列可能符合的清單，並選擇你想要的使用者，
    [% ELSE %]
      [% terms.Bugzilla %] 設定為無論在什麼時候你輸入了名稱或是一部份的電子郵件，都必須要確認。
      <br>以下是你所輸入的名稱／電子郵件，以及符合的帳號。
      請確認他們是否正確，
    [% END %]
    或回到前一頁重新輸入。
  </p>
[% ELSE %]
  [% PROCESS global/header.html.tmpl title="找不到符合的資料" %]
  <p>
    你在前一頁所輸入的名稱或電子郵件地址，在 [% terms.Bugzilla %] 中找不到符合的資料。
    [% IF !user.id %]
      <b>注意：你現在是登出狀態。只會顯示完全符合的電子郵件地址。</b>
    [% END %]
  </p>
  <p>請回到前一頁，並試試其他的名稱或電子郵件地址。</p>
[% END %]

  <table border="0">
    <tr>
      <td colspan="2">
        <hr width="100%" size="1">
      </td>
    </tr>

  [%# this is messy to allow later expansion %]

  [% FOREACH field = matches %]
    <tr>
      <td align="left" valign="top">
        [% PROCESS field_names field_name=field.key %]:
      </td>
      <td align="left" valign="top">
          [% FOREACH query = field.value %]
            <div class="user_match">
              <b>[% query.key FILTER html %]</b>
            [% IF query.value.users.size %]
                [% IF query.value.users.size > 1 %]
                  [% IF query.value.status == 'fail' %]
                    <font color="#FF0000">
                      符合多名使用者。
                    </font>
                    請按上一頁，並以更明確的名稱或地址再次嘗試。
                  [% ELSE %]
                    [% IF query.value.status == 'trunc' %]
                      符合多於查詢上限數量 ([% query.value.users.size %]) 的使用者：<br>
                    [% ELSE %]
                      符合：<br>
                    [% END %]
                    <select name="[% field.key FILTER html %]"
                     id="[% field.key FILTER html %]"
                      [% IF fields.${field.key}.type == 'multi' %]
                        multiple="multiple"
                        [% IF query.value.users.size > 5 %]
                         size="5"
                        [% ELSE %]
                         size="[% query.value.users.size %]"
                        [% END %]
                      [% END %]
                    >
                      [% FOREACH match = query.value.users %]
                        <option value="[% match.login FILTER html %]">
                         [%- match.identity FILTER html -%]
                        </option>
                      [% END %]
                    </select>
                  [% END %]
                [% ELSE %]
                  符合
                  <b>[% query.value.users.0.identity FILTER html %]</b>
                [% END %]
            [% ELSE %]
                [% IF query.key.length < 3 %]
                  <font color="#FF0000">要搜尋的子字串太短
                  (至少 3 個字元)</font>
                [% ELSE %]
                  <font color="#FF0000">找不到符合的資料</font>
                [% END %]
            [% END %]
            </div>
        [% END %]
      </td>
    </tr>
    <tr>
      <td colspan="2">
        <hr width="100%" size="1">
      </td>
    </tr>
  [% END %]

  </table>

[% IF matchsuccess == 1 %]

  [% SET exclude_these = ['Bugzilla_login', 'Bugzilla_password'] %]
  [% FOREACH key IN matches.keys %]
    [% exclude_these.push(key) IF cgi.param(key) == '' %]
  [% END %]
  [% SET exclude = '^' _ exclude_these.join('|') _ '$' %]
  [% PROCESS "global/hidden-fields.html.tmpl" exclude = exclude %]

  <p>
    <input type="submit" id="continue" value="繼續">
  </p>

  </form>

[% END %]

[% PROCESS global/footer.html.tmpl %]


[% BLOCK field_names %]

  [% IF field_descs.$field_name %]
    [% field_descs.$field_name FILTER html %]
  [% ELSIF field_labels.$field_name %]
    [% field_labels.$field_name FILTER html %]
  [% ELSIF field_name.match("^requestee") %]
    [% fields.${field_name}.flag_type.name FILTER html %] 位被要求者
  [% ELSE %]
    [% field_name FILTER html %]
  [% END %]

[% END %]
