[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# Remember to PROCESS rather than INCLUDE this template. %]

[% setting_descs = {
  "comment_sort_order"          => "瀏覽一個 $terms.bug 時，以此順序列出意見",
  "csv_colsepchar"              => "CSV 檔案的欄位分隔字元",
  "display_quips"               => "在每個 $terms.bug 清單上方顯示智語",
  "zoom_textareas"              => "自動放大使用中的文字框（需要 JavaScript ）",
  "newest_to_oldest"            => "從新到舊",
  "newest_to_oldest_desc_first" => "從新到舊，但保留描述於上方",
  "off"                         => "關",
  "oldest_to_newest"            => "從舊到新",
  "on"                          => "開",
  "post_bug_submit_action"      => "在變更一個 $terms.bug 之後",
  "next_bug"                    => "列出我的清單中的下一個 $terms.bug",
  "same_bug"                    => "顯示更新後的 $terms.bug",
  "standard"                    => "古典",
  "skin"                        => "$terms.Bugzilla 的基本外觀設定（佈景主題）",
  "nothing"                     => "什麼也不做",
  "state_addselfcc"             => "將我自動加到我變更的 $terms.bugs 的寄件副本清單中",
  "always"                      => "總是",
  "never"                       => "總不",
  "cc_unless_role"              => "僅在當我並非其中相關人員時",
  "lang"                        => "在電子郵件中用的語言",
  "quote_replies"               => "當點選「回應」時，引用相關的意見",
  "quoted_reply"                => "引用全部意見",
  "simple_reply"                => "僅參照意見的編號",
  "comment_box_position"        => "「附加的意見」的 box position",
  "before_comments"             => "在其他意見之前",
  "after_comments"              => "在其他意見之後",
  "timezone"                    => "用來顯示日期和時間的時區",
  "local"                       => "和伺服器相同",
  "quicksearch_fulltext"        => "執行快速搜尋時也搜尋意見（會較慢）",
  "email_format"                => "喜好的電子郵件格式",
  "html"                        => "HTML",
  "text_only"                   => "純文字",
  "requestee_cc"                => "自動將我加入要求我檢視的 $terms.bugs 的寄件副本清單",
  "bugmail_new_prefix"          => "當有新的 $terms.bug 時，在信件通知的主旨加上「新增：」",
} %]

[% Hook.process('settings') %]
