[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

Content-Type: text/plain
From: [% Param('mailfrom') %]
To: [% user.email %]
Subject: [% terms.Bugzilla %] 電子郵件系統測試訊息
X-Bugzilla-Type: admin

親愛的 [% terms.Bugzilla %] 管理員，

這是一封來自 [% terms.Bugzilla %] 系統的測試電子郵件。
如果你能成功讀取訊息，那麼你的 [% terms.Bugzilla %] 可以寄出電子郵件了。
