[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

From: [% Param("mailfrom") %]
To: [% email %][% Param("emailsuffix") %]
Subject: [% terms.Bugzilla %] [% terms.bug %] 清單需要你的注意。
X-Bugzilla-Type: whine

[此電子郵件為系統自動產生。]

在 [% terms.Bugzilla %] [% terms.bug %] 追蹤系統 ([% urlbase %]) 中，
有一個以上的 [% terms.bugs %] 分配給你，並需要你的注意。

這些 [% terms.bugs %] 都是在 [% display_value("bug_status", "CONFIRMED") %]
的狀態，並且已經超過 [% Param("whinedays") %] 天沒有人處理。
你需要查看它們，並且決定一個初始的動作。

一般而言，這代表以下三種狀況其中之一：

(1) 你覺得這個 [% terms.bug %] 可以很快解決（例如說，
    它是個 [% display_value("resolution", "INVALID") %] [% terms.bug %] ）。
(2) 你覺得這個 [% terms.bug %] 不是你負責，因此你把它重新分配給別人。
    （提示：如果你不知道要分配給誰，重新選擇適合的子產品欄位，
    並使用「將負責人重新設定為預設值」選項。
(3) 你覺得這個 [% terms.bug %] 是你負責的，但是現在還無法解決。
    那麼就將 [% terms.bug %] 的狀態設定為 [% get_status("IN_PROCESS") %] 。

若要得到所有狀態是 [% display_value("bug_status", "CONFIRMED") %] 的 [%+ terms.bugs %] 清單，
你可以使用以下網址（你也可以加入書籤）：

 [% urlbase %]buglist.cgi?bug_status=CONFIRMED&assigned_to=[% email %]

你也可以使用一般查詢頁：
[%+ urlbase %]query.cgi

以下為超過 [% Param("whinedays") %] 天以上沒有處理，狀態為 [% display_value("bug_status", "CONFIRMED") %] ，
並且是屬於你負責的每個 [%+ terms.bugs %] 的網址。

在你處理這些 [% terms.bugs %] 之前，你將會每天收到此一訊息！

[% FOREACH bug = bugs %]
 [%+ bug.summary %]
    →  [% urlbase %]show_bug.cgi?id=[% bug.id %]
[% END %]
