[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% san_message = BLOCK %]
  [% IF san_tag == "checks_start" %]
    執行健全度測試中…

  [% ELSIF san_tag == "checks_completed" %]
    健全度測試已執行完成。

  [% ELSIF san_tag == "attachment_reference_deletion_start" %]
    正在刪除所有連到已刪除附件的參照…

  [% ELSIF san_tag == "attachment_reference_deletion_end" %]
    已刪除所有連到已刪除附件的參照。

  [% ELSIF san_tag == "bug_check_alert" %]
    [% errortext FILTER html %]：[% INCLUDE bug_list badbugs = badbugs %]

  [% ELSIF san_tag == "bug_check_repair" %]
    <a href="sanitycheck.cgi?[% param FILTER uri %]=1&amp;token=
       [%- issue_hash_token(['sanitycheck']) FILTER uri %]">[% text FILTER html %]</a>。

  [% ELSIF san_tag == "bug_check_creation_date" %]
    檢查沒有建立日期的 [% terms.bugs %] 中…（沒有建立日期將會使 [% terms.bugs %] 無法檢視。）

  [% ELSIF san_tag == "bug_check_creation_date_error_text" %]
    沒有建立日期的 [% terms.Bugs %]

  [% ELSIF san_tag == "bug_check_creation_date_repair_text" %]
    修復沒有建立日期的 [% terms.bugs %] 中…

  [% ELSIF san_tag == "bug_check_bugs_fulltext" %]
    檢查沒有全文字搜尋的 [% terms.bugs %] 回報。

  [% ELSIF san_tag == "bug_check_bugs_fulltext_error_text" %]
    沒有全文字搜尋的 [% terms.Bugs %] 回報

  [% ELSIF san_tag == "bug_check_bugs_fulltext_repair_text" %]
    修復缺少全文字搜尋的這些 [% terms.bugs %] 回報

  [% ELSIF san_tag == "bug_check_res_dupl" %]
    檢查解決方案中標記為重複的 [% terms.bugs %] …

  [% ELSIF san_tag == "bug_check_res_dupl_error_text" %]
    在標記為重複的 [% terms.Bugs %] 列表中找到並非被標記為重複的 [% terms.bugs %]

  [% ELSIF san_tag == "bug_check_res_dupl_error_text2" %]
    找到標記為重複的 [% terms.Bugs %] ，但並不在標記為重複的 [% terms.bugs %] 列表中

  [% ELSIF san_tag == "bug_check_status_res" %]
    檢查狀態／解決方案中…

  [% ELSIF san_tag == "bug_check_status_res_error_text" %]
    狀態為開啟，卻有解決方案的 [% terms.Bugs %]

  [% ELSIF san_tag == "bug_check_status_res_error_text2" %]
    狀態為關閉，但沒有解決方案的 [% terms.Bugs %]

  [% ELSIF san_tag == "bug_check_status_everconfirmed" %]
    檢查狀態／是否確認中…

  [% ELSIF san_tag == "bug_check_status_everconfirmed_error_text" %]
    狀態是未確認 (UNCONFIRMED) 的 [% terms.Bugs %] ，但已設定 everconfirmed 參數

  [% ELSIF san_tag == "bug_check_status_everconfirmed_error_text2" %]
    狀態是已確認的 [% terms.Bugs %] ，但未設定 everconfirmed 參數

  [% ELSIF san_tag == "bug_check_control_values" %]
    檢查 group_control_map 錯誤的數值中…

  [% ELSIF san_tag == "bug_check_control_values_alert" %]
    在 group_control_map 中找到 [% entries FILTER html %] 筆損壞的數值

  [% ELSIF san_tag == "bug_check_control_values_violation" %]
    檢查違反產品群組控管的 [% terms.bugs %] 中…

  [% ELSIF san_tag == "bug_check_control_values_error_text" %]
    找到並未被產品允許的群組

  [% ELSIF san_tag == "bug_check_control_values_repair_text" %]
    允許受影響的產品使用缺少的群組
    〔將成員控管設定為 <code>顯示 (SHOWN)</code> 〕

  [% ELSIF san_tag == "bug_check_control_values_error_text2" %]
    對於產品而言，缺少必須的群組

  [% ELSIF san_tag == "bug_creation_date_start" %]
    修復缺少的 [% terms.bug %] 建立日期中…

  [% ELSIF san_tag == "bug_creation_date_fixed" %]
    已修復 [% bug_count FILTER html %] 個 [%+ terms.bugs %] 。

  [% ELSIF san_tag == "bugs_fulltext_start" %]
    現在修復 [% terms.bug %] 回報的全文字輸入。

  [% ELSIF san_tag == "bugs_fulltext_fixed" %]
    已修復 [% bug_count FILTER html %] 個 [%+ terms.bugs %] 。

  [% ELSIF san_tag == "bug_reference_deletion_start" %]
    刪除參照到已刪除的 [% terms.bugs %] 的所有參照中…

  [% ELSIF san_tag == "bug_reference_deletion_end" %]
    已刪除參照到已刪除的 [% terms.bugs %] 的所有參照。

  [% ELSIF san_tag == "cross_check_to" %]
    檢查參照到 [% table FILTER html %].[% field FILTER html %] 中…

  [% ELSIF san_tag == "cross_check_from" %]
    … 從 [% table FILTER html %].[% field FILTER html %] 。

  [% ELSIF san_tag == "cross_check_alert" %]
    在 [%+ table FILTER html %].[% field FILTER html %]
    [% IF keyname %]
      [% IF keyname == "bug_id" %]
        ([% PROCESS bug_link bug_id = key %])
      [% ELSE %]
        ([% keyname FILTER html %] == '[% key FILTER html %]')
      [% END %]
    [% END %]
    找到損壞的值 '[% value FILTER html %]' 。

  [% ELSIF san_tag == "cross_check_attachment_has_references" %]
    <a href="sanitycheck.cgi?remove_invalid_attach_references=1&amp;token=
       [%- issue_hash_token(['sanitycheck']) FILTER uri %]">
      刪除參照到不存在的附件的參照。</a>

  [% ELSIF san_tag == "cross_check_bug_has_references" %]
    <a href="sanitycheck.cgi?remove_invalid_bug_references=1&amp;token=
       [%- issue_hash_token(['sanitycheck']) FILTER uri %]">
      刪除參照到不存在的 [% terms.bugs %] 的參照。</a>

  [% ELSIF san_tag == "double_cross_check_to" %]
    檢查對應到 [% table FILTER html %].[% field1 FILTER html %] /
    [%+ table FILTER html %].[% field2 FILTER html %] 的參照…

  [% ELSIF san_tag == "double_cross_check_from" %]
    … 從 [% table FILTER html %].[% field1 FILTER html %] /
    [%+ table FILTER html %].[% field2 FILTER html %]。

  [% ELSIF san_tag == "double_cross_check_alert" %]
    在 [% table FILTER html %].[% field1 FILTER html %] /
    [%+ table FILTER html %].[% field2 FILTER html %]
    中找到錯誤的數值 '[% value1 FILTER html %]' 、 '[% value2 FILTER html %]'。
    [% IF keyname %]
      [% IF keyname == "bug_id" %]
        ([% PROCESS bug_link bug_id = key %])
      [% ELSE %]
        ([% keyname FILTER html %] == '[% key FILTER html %]')
      [% END %]
    [% END %]

  [% ELSIF san_tag == "everconfirmed_start" %]
    修正 "everconfirmed" 中…

  [% ELSIF san_tag == "everconfirmed_end" %]
    已修正 "everconfirmed" 。

  [% ELSIF san_tag == "flag_check_start" %]
    檢查產品及子產品中的錯誤旗標中…

  [% ELSIF san_tag == "flag_deletion_start" %]
    刪除無效的旗標中…

  [% ELSIF san_tag == "flag_deletion_end" %]
    已刪除無效的旗標。

  [% ELSIF san_tag == "flag_alert" %]
    [%+ PROCESS bug_link bug_id = bug_id %]
    [% IF attach_id %]附件 [% attach_id FILTER html %][% END %]
    的旗標[% flag_id FILTER html %]無效。

  [% ELSIF san_tag == "flag_fix" %]
    <a href="sanitycheck.cgi?remove_invalid_flags=1&amp;token=
       [%- issue_hash_token(['sanitycheck']) FILTER uri %]">
      點選此處刪除無效的旗標</a>

  [% ELSIF san_tag == "group_control_map_entries_creation" %]
    現在替已合併但缺少成員群組控管的產品／群組，建立 <code>顯示 (SHOWN)</code>
    的成員群組控管。

  [% ELSIF san_tag == "group_control_map_entries_update" %]
    將在產品 <em>[% product_name FILTER html %]</em> 中
    群組 <em>[% group_name FILTER html %]</em>
    的群組控管由 <code>不適用 (NA) / <em>xxx</em></code>
    更新為 <code>顯示 (SHOWN) / <em>xxx</em></code>。

  [% ELSIF san_tag == "group_control_map_entries_generation" %]
    在產品 <em>[% product_name FILTER html %]</em> 中
    對群組 <em>[% group_name FILTER html %]</em>
    產生群組控管 <code>顯示 (SHOWN) / 不適用 (NA)</code>。

  [% ELSIF san_tag == "keyword_check_invalid_id" %]
    在關鍵字表格中找到偽造的關鍵字編號 [% id FILTER html %] 。

  [% ELSIF san_tag == "keyword_check_duplicated_ids" %]
    在 [% PROCESS bug_link bug_id = id %] 中找到重複的關鍵字編號。

  [% ELSIF san_tag == "profile_login_start" %]
    檢查帳號中…

  [% ELSIF san_tag == "product_alert" %]
    產品 <a href="editproducts.cgi?product=[% name FILTER html%]">
    [%- name FILTER html %]</a> 沒有子產品或沒有版本。

  [% ELSIF san_tag == "product_check_start" %]
    檢產沒有子產品或版本的產品。

  [% ELSIF san_tag == "profile_login_alert" %]
    帳號的電子郵件地址已損壞， id=[% id FILTER html %] ，
    &lt;[% email FILTER html %]&gt;。

  [% ELSIF san_tag == "repair_bugs" %]
    修復這些 [% terms.bugs %] 。

  [% ELSIF san_tag == "send_bugmail_start" %]
    嘗試寄出尚未寄出的信件…

  [% ELSIF san_tag == "send_bugmail_status" %]
    有 [% bug_count FILTER html %] 個 [%+ terms.bugs %] 存在可能尚未寄出的信件。

  [% ELSIF san_tag == "send_bugmail_end" %]
    尚未寄出的信件已全數寄出。

  [% ELSIF san_tag == "unsent_bugmail_check" %]
    檢查未寄出的信件…

  [% ELSIF san_tag == "unsent_bugmail_alert" %]
    已做出變更，但超過半小時沒有寄信通知的 [% terms.Bugs %] ：
    [% INCLUDE bug_list badbugs = badbugs %]

  [% ELSIF san_tag == "unsent_bugmail_fix" %]
    <a href="sanitycheck.cgi?rescanallBugMail=1&amp;token=
       [%- issue_hash_token(['sanitycheck']) FILTER uri %]">寄出這些信件</a>。

  [% ELSIF san_tag == "whines_obsolete_target_deletion_start" %]
    移除訂閱中不存在的使用者／群組中。

  [% ELSIF san_tag == "whines_obsolete_target_deletion_end" %]
    已自訂閱中移除不存在的使用者／群組。

  [% ELSIF san_tag == "whines_obsolete_target_start" %]
    檢查訂閱中是否有不存在的使用者／群組。

  [% ELSIF san_tag == "whines_obsolete_target_alert" %]
    [% FOREACH schedule = schedules %]
      訂閱計畫 [% schedule.0 FILTER html %] 有不存在的
      [% (type == constants.MAILTO_USER) ? "使用者" : "群組" FILTER html %]
      [%+ schedule.1 FILTER html %]<br>
    [% END %]

  [% ELSIF san_tag == "whines_obsolete_target_fix" %]
    <a href="sanitycheck.cgi?remove_old_whine_targets=1&amp;token=
       [%- issue_hash_token(['sanitycheck']) FILTER uri %]">
      點選此處移除舊的使用者／群組</a>

  [% ELSE %]
    [% message = Hook.process("statuses") %]

    [% IF message %]
      [% message FILTER none %]
    [% ELSE %]
      找不到對應 <code>[% san_tag FILTER html %]</code> 的訊息字串。請寄電子郵件到
      [% Prarm("maintainer") %] 說明得到此一訊息的步驟。
    [% END %]
  [% END %]
[% END %]

[% USE Bugzilla %]
[% IF Bugzilla.usage_mode == constants.USAGE_MODE_CMDLINE %]
  [% san_message FILTER none %]
[% ELSE %]
  [%# Avoid the txt filter in message.txt.tmpl. %]
  [% san_message FILTER html %]
[% END %]

[% BLOCK bug_list %]
  [% FOREACH bug_id = badbugs %]
    [%# Do not use FILTER bug_link() here, because bug_link() calls get_text()
      # which itself calls this template again, generating a recursion error.
      # I doubt having a tooltip with the bug status and summary is so
      # important here anyway, as you can click the "(as buglist)" link. %]
    <a href="show_bug.cgi?id=[% bug_id FILTER uri %]">[% bug_id FILTER html %]</a>
    [% ", " IF !loop.last %]
  [% END %]
  （<a href="buglist.cgi?bug_id=[% badbugs.join(",") FILTER uri %]">顯示為 [% terms.bug %] 清單</a>）。
[% END %]

[% BLOCK bug_link %]
  <a href="show_bug.cgi?id=[% bug_id FILTER uri %]">[% terms.bug %] [%+ bug_id FILTER html %]</a>
[% END %]
