[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gavin Shelley <bugzilla@chimpychompy.org>
  #%]

[%# INTERFACE:
  # comp: object; Bugzilla::Component object representing the component the
  #               user deleted.
  # product: object; Bugzilla::Product object representing the product to
  #               which the component belongs.
  #%]

[% title = BLOCK %]自產品 '[% product.name FILTER html %]' 中刪除子產品 '[% comp.name FILTER html %]'[% END %]
[% PROCESS global/header.html.tmpl
  title = title
%]

<p>
[% IF comp.bug_count %]
  已刪除 [% comp.bug_count FILTER none %] 個 [%+ terms.bug %]。
  </p><p>
  所有關於已刪除 [% terms.bugs %] 的參考資訊也已刪除。
[% ELSE %]
  此子產品沒有 [% terms.bugs %] 存在。
[% END %]
</p>

<p>已刪除旗標的「包括」及「不包括」。</p>

<p>已刪除子產品 '[% comp.name FILTER html %]' 。</p>

[% PROCESS admin/components/footer.html.tmpl
  no_edit_component_link = 1
 %]

[% PROCESS global/footer.html.tmpl %]
