[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # Contributor(s): Max Kanat-Alexander <mkanat@bugzilla.org>
  #%]

[%# INTERFACE:
  # value: Bugzilla::Field::Choice; The field value being deleted.
  # value_count: number; The number of values available for this field.
  # field: object; the field the value is being deleted from.
  #%]

[% title = BLOCK %]
  從 '[% field.description FILTER html %]' ([% field.name FILTER html %])
  欄位中刪除數值 '[% value.name FILTER html %]'
[% END %]

[% PROCESS global/header.html.tmpl
  title = title
  style_urls = ['skins/standard/admin.css']
%]

<table border="1" cellpadding="4" cellspacing="0">
<tr bgcolor="#6666FF">
  <th valign="top" align="left">欄位</th>
  <th valign="top" align="left">值</th>
</tr>
<tr>
  <td valign="top">欄位名稱：</td>
  <td valign="top">[% field.description FILTER html %]</td>
</tr>
<tr>
  <td valign="top">欄位數值：</td>
  <td valign="top">[% value.name FILTER html %]</td>
</tr>
<tr>
  <td valign="top">[% terms.Bugs %] ：</td>
  <td valign="top">
[% IF value.bug_count %]
  <a title="列出 '[% field.description FILTER html %]' 是 '[% value.name FILTER html %]' 的 [% terms.bugs %]"
     href="buglist.cgi?[% field.name FILTER url_quote %]=[% value.name FILTER url_quote %]"
    >[% value.bug_count FILTER html %]</a>
[% ELSE %]
  無
[% END %]
  </td>
</tr>
</table>

<h2>確認</h2>

[% IF value.is_default || value.bug_count || (value_count == 1)
      || value.controls_visibility_of_fields.size
      || value.controlled_values_array.size
%]

  <p>很抱歉，由於下列原因，無法將 '[% value.name FILTER html %]' 數值從 '[% field.description FILTER html %]' 欄位中刪除：</p>

  <ul class="warningmessages">
    [% IF value.is_default %]
      <li>'[% value.name FILTER html %]' 是 '[% field.description FILTER html %]' 欄位的預設值。
        [% IF user.in_group('tweakparams') %]
          在刪除此數值之前，你必須先<a href="editparams.cgi?section=bugfields">調整此欄位的預設值</a>。
        [% END %]
      </li>
    [% END %]

    [% IF value.bug_count %]
      <li>有 [% value.bug_count FILTER html %] 個 [% terms.bug %]
          使用了此一數值。在刪除此數值之前，你必須先變更<a
          title="列出 '[% field.description FILTER html %]' 是
                '[%+ value.name FILTER html %]' 的 [% terms.bugs %]"
          href="buglist.cgi?[% field.name FILTER url_quote %]=[% value.name FILTER url_quote %]"
          >那[% IF value.bug_count > 1 %]些[% ELSE %]個[% END %] [%+ terms.bug %] </a>的數值。
      </li>
    [% END %]

    [% IF value_count == 1 %]
      <li>'[% value.name FILTER html %]' 是 '[% field.description FILTER html %]'
          的最後一個數值，因此無法被刪除。
      </li>
    [% END %]

    [% IF value.controls_visibility_of_fields.size %]
      <li>此數值控制下列欄位的可見性：<br>
        [% FOREACH field = value.controls_visibility_of_fields %]
          <a href="editfields.cgi?action=edit&name=[% field.name FILTER url_quote %]"
            >[% field.description FILTER html %] ([% field.name FILTER html %])</a><br>
        [% END %]
      </li>
    [% END %]

    [% IF value.controlled_values_array.size %]
      <li>此數值控制其他欄位的下列數值：<br>
       [% FOREACH field_name = value.controlled_values.keys %]
         [% FOREACH controlled = value.controlled_values.${field_name} %]
           <a href="editvalues.cgi?action=edit&field=
                    [%- controlled.field.name FILTER url_quote %]&value=
                    [%- controlled.name FILTER url_quote %]">
             [% controlled.field.description FILTER html %]
             ([% controlled.field.name FILTER html %]) ：
             [%+ controlled.name FILTER html %]</a><br>
         [% END %]
       [% END %]
      </li>

    [% END %]
  </ul>

[% ELSE %]

  <p>你確定要刪除此一數值嗎？</p>

  <form method="post" action="editvalues.cgi">
    <input type="submit" value="是的，刪除" id="delete">
    <input type="hidden" name="action" value="delete">
    <input type="hidden" name="field" value="[% field.name FILTER html %]">
    <input type="hidden" name="value" value="[% value.name FILTER html %]">
    <input type="hidden" name="token" value="[% token FILTER html %]">
  </form>

[% END %]

[% PROCESS admin/fieldvalues/footer.html.tmpl
  no_edit_link = 1
 +%]

[% PROCESS global/footer.html.tmpl %]
