[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # Contributor(s): Max Kanat-Alexander <mkanat@bugzilla.org>
  #%]

[%# INTERFACE:
  # value: string; the name of the newly created field value
  # field: object; the field the value belongs to
  #%]

[% title = BLOCK %]
  已在 '[% field.description FILTER html %]' ([% field.name FILTER html %]) 欄位新增數值 '[% value FILTER html %]'
[% END %]
[% PROCESS global/header.html.tmpl
  title = title
%]

<p>數值 '<a title="編輯 '[% field.description FILTER html %]' 的數值 '[% value FILTER html %]'"
   href="editvalues.cgi?action=edit&amp;field=
   [%- field.name FILTER url_quote %]&amp;value=[% value FILTER url_quote %]">
   [%- value FILTER html %]</a>' 已被加入 '[% field.description FILTER html %]' 欄位，並成為一個有效的選項。</p>

[% IF field.name == "bug_status" %]
  你現在應該瀏覽<a href="editworkflow.cgi">流程頁面</a>來把你新的 [% terms.bug %] 狀態包括在內。
[% END %]

[% PROCESS admin/fieldvalues/footer.html.tmpl %]

[% PROCESS global/footer.html.tmpl %]
