[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # value: string; the value being inserted/edited.
  # field: object; the field which the value belongs/belonged to.
  #
  # no_XXX_link: boolean; if defined, then don't show the corresponding
  #                       link. Supported parameters are:
  #
  # no_edit_link
  # no_edit_other_link
  # no_add_link
  #%]

<hr>

<p>

[% UNLESS no_add_link %]
  <a title="在 '[% field.description FILTER html %]' 新增一個數值。"
     href="editvalues.cgi?action=add&amp;field=
          [%- field.name FILTER uri %]">新增</a>一個數值。
[% END %]

[% IF value.defined && !no_edit_link %]
  編輯數值 <a
  title="編輯 '[% field.name FILTER html %]' 欄位的數值 '[% value.name FILTER html %]'"
  href="editvalues.cgi?action=edit&amp;field=[% field.name FILTER uri %]&amp;value=
        [%- value.name FILTER uri %]">'[% value.name FILTER html %]'</a> 。
[% END %]

[% UNLESS no_edit_other_link %]
  編輯 <a href="editvalues.cgi?field=
        [%- field.name FILTER uri %]">'[% field.description FILTER html %]'</a> 欄位的其他數值。

[% END %]

</p>
