[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% PROCESS "global/js-products.html.tmpl" %]

[% PROCESS global/header.html.tmpl
  title = '管理旗標類型'
  style = "
    table#flag_types_bugs tr th,
    table#flag_types_attachments tr th { text-align: left; }
    .inactive { color: #787878; }
    .multiplicable { display: block; }
  "
  onload="var f = document.flagtype_form; selectProduct(f.product, f.component, null, null, '__全部__');"
  javascript_urls=["js/productform.js"]
  doc_section = "flags-overview.html#flag-types"
%]

<p>
  旗標是用來識別 [% terms.bug %] 或附件是否已被同意或被拒絕某些狀態的一種標記。在使用者介面中，旗標以名稱和狀態符號顯示：
  "+" 代表同意， "-" 代表拒絕， "?" 代表使用者已要求設定旗標的狀態。
</p>

<p>
  例如，你可以定義一種狀態叫 "review" ，讓使用者可以對瀏覽附件做出要求。當 patch 寫作者要求瀏覽時，
  "review?" 字串就會出現在附件上。而當 patch 瀏覽者瀏覽該 patch 時，就會依 patch 是否通過瀏覽的條件，顯示為
  "review+" 或 "review-" 。
</p>

<p>
  你可以對特定的產品以及子產品限制旗標類型的清單。如果選擇沒有子產品的產品，那麼將只顯示屬於產品中至少一項子產品的旗標類型。
</p>

<form id="flagtype_form" name="flagtype_form" action="editflagtypes.cgi" method="get">
  <table>
    <tr>
      <th><label for="product">產品：</label></th>
      <td>
        <select name="product" onchange="selectProduct(this, this.form.component, null, null, '__任何__');">
          <option value="">__任何__</option>
          [% FOREACH prod = products %]
            <option value="[% prod.name FILTER html %]"
                    [% " selected" IF selected_product == prod.name %]>
                    [% prod.name FILTER html %]</option>
          [% END %]
        </select>
      </td>
      <th><label for="component">子產品：</label></th>
      <td>
        <select name="component">
          <option value="">__任何__</option>
          [% FOREACH comp = components %]
            <option value="[% comp FILTER html %]"
                    [% " selected" IF selected_component == comp %]>
                    [% comp FILTER html %]</option>
          [% END %]
        </select>
      </td>
      <td>
        <input type="checkbox" id="show_flag_counts" name="show_flag_counts" value="1"
               [%+ 'checked="checked"' IF show_flag_counts %]>
        <label for="show_flag_counts">顯示旗標數</label>
      </td>
      <td><input type="submit" id="submit" value="篩選"></td>
    </tr>
  </table>
</form>

<h3>[% terms.Bugs %] 的旗標類型</h3>

[% PROCESS display_flag_types types=bug_types types_id='bugs' %]

<p>
  <a href="editflagtypes.cgi?action=enter&amp;target_type=bug">新增 [% terms.Bugs %] 的旗標類型</a>
</p>

<h3>附件的旗標類型</h3>

[% PROCESS display_flag_types types=attachment_types types_id='attachments' %]

<p>
  <a href="editflagtypes.cgi?action=enter&amp;target_type=attachment">新增附件的旗標類型</a>
</p>

[% PROCESS global/footer.html.tmpl %]


[% BLOCK display_flag_types %]
  <table id="flag_types_[% types_id FILTER html %]" cellspacing="0" cellpadding="4" border="1">

    <tr>
      <th>編輯名稱…</th>
      <th>描述</th>
      <th>排序鍵</th>
      <th>性質</th>
      <th>同意的群組</th>
      <th>要求的群組</th>
      [% IF show_flag_counts %]
        <th>旗標</th>
        [%# Note to translators: translate the strings in quotes only. %]
        [% state_desc = {granted = '同意' denied = '拒絕' pending = '未決定'} %]
      [% END %]
      <th>動作</th>
    </tr>

    [% FOREACH type = types %]

      <tr class="[% IF type.is_active %]active[% ELSE %]inactive[% END %]">
        <td><a href="editflagtypes.cgi?action=edit&amp;id=[% type.id %]">[% type.name FILTER html FILTER no_break %]</a></td>
        <td>[% type.description FILTER html %]</td>
        <td align="right">[% type.sortkey FILTER html %]</td>
        <td>
          [% IF type.is_requestable %]
            <span class="requestable">可以要求</span>
          [% END %]
          [% IF type.is_requestable && type.is_requesteeble %]
            <span class="requesteeble">（特定要求）</span>
          [% END %]
          [% IF type.is_multiplicable %]
            <span class="multiplicable">多重種類</span>
          [% END %]
        </td>
        <td>[% IF type.grant_group %][% type.grant_group.name FILTER html %][% END %]</td>
        <td>[% IF type.request_group %][% type.request_group.name FILTER html %][% END %]</td>
        [% IF show_flag_counts %]
          <td>
            [% FOREACH state = ['granted', 'pending', 'denied'] %]
              [% bug_list = bug_lists.${type.id}.$state || [] %]
              [% IF bug_list.size %]
                <a href="buglist.cgi?bug_id=[% bug_list.unique.nsort.join(",") FILTER html %]">
                  [% bug_list.size FILTER html %] 項[% state_desc.$state FILTER html %]
                </a>
                <br>
              [% ELSE %]
                沒有[% state_desc.$state FILTER html %]<br>
              [% END %]
            [% END %]
          </td>
        [% END %]
        <td>
          <a href="editflagtypes.cgi?action=copy&amp;id=[% type.id %]">複製</a>
          | <a href="editflagtypes.cgi?action=confirmdelete&amp;id=[% type.id %]">刪除</a>
        </td>
      </tr>

    [% END %]

  </table>
[% END %]
