[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  #
  # message:             message tag specifying a global/messages.html.tmpl
  #                      message
  # listselectionvalues: selection values to recreate the current user list.
  # editusers:           is viewing user member of editusers?
  # otheruser:           Bugzilla::User object of viewed user.
  # groups:              array of group information (name, grant type,
  #                      canbless) for viewed user.
  #%]

[% title = BLOCK %]編輯使用者 [% otheruser.identity FILTER html %][% END %]

[% PROCESS global/header.html.tmpl
  title = title
  message = message
  style_urls = ['skins/standard/admin.css', 'skins/standard/editusers.css']
  doc_section = "useradmin.html#modifyusers"
  javascript_urls = [ 'js/field.js' ]
%]

[% PROCESS admin/users/listselectvars.html.tmpl
  listselectionvalues = listselectionvalues
%]

<form method="post" action="editusers.cgi">
<table class="main">
  [% PROCESS admin/users/userdata.html.tmpl
    editform  = 1
    editusers = editusers
    otheruser = otheruser
  %]
  [% IF groups.size %]
    <tr>
      <th>瀏覽群組：</th>
      <td>
        <table class="groups">
          <tr>
            [% IF editusers %]
              <th colspan="3">
                可替其他使用者設定這些權限
              </th>
            [% END %]
          </tr>
          <tr>
            [% IF editusers %]
              <td style="text-align: center; font-weight: bold">|</td>
            [% END %]
            <th colspan="2">使用者是下列群組的成員</th>
          </tr>
          [% FOREACH group = groups %]
            [% perms = permissions.${group.id} %]
            <tr class="[% 'in' IF perms.regexpmember || perms.derivedmember %]direct">
              [% IF editusers %]
                <td class="checkbox">
                  [% '[' IF perms.indirectbless %]
                  [% %]<input type="checkbox"
                              name="bless_[% group.id %]"
                              value="1"
                              [% ' checked="checked"' IF perms.directbless %] />
                  [% ']' IF perms.indirectbless %]</td>
              [% END %]
              <td class="checkbox">
                [% '[' IF perms.derivedmember %]
                [% '*' IF perms.regexpmember %]
                [%%]<input type="checkbox"
                           id="group_[% group.id %]"
                           name="group_[% group.id %]"
                           value="1"
                           [% ' checked="checked"' IF perms.directmember %] />
                [% '*' IF perms.regexpmember %]
                [% ']' IF perms.derivedmember %]</td>
              <td class="groupname">
                <label for="group_[% group.id %]">
                  <strong>[% group.name FILTER html %] ：</strong>
                  [%+ group.description FILTER html_light %]
                </label>
              </td>
            </tr>
          [% END %]
        </table>
      </td>
    </tr>
  [% END %]

  <tr>
    <th>產品負責數：</th>
    <td>
      [% IF otheruser.product_responsibilities.size %]
        [% PROCESS admin/users/responsibilities.html.tmpl otheruser = otheruser %]
      [% ELSE %]
        <em>無</em>
      [% END %]
    </td>
  </tr>

  <tr>
    <th>上次登入：</th>
    <td>
      [% IF otheruser.last_seen_date %]
        [% otheruser.last_seen_date FILTER html %]
      [% ELSE %]
        <em>從未登入</em>
      [% END %]
    </td>
  </tr>
</table>

<p>
  <input type="submit" id="update" value="儲存變更" />
  <input type="hidden" name="userid" value="[% otheruser.id %]" />
  <input type="hidden" name="action" value="update" />
  <input type="hidden" name="token" value="[% token FILTER html %]">
  [% INCLUDE listselectionhiddenfields %]

  或者<a href="editusers.cgi?action=activity&amp;userid=[% otheruser.id %]"
        title="瀏覽'
        [%- otheruser.login FILTER html %]'的帳號歷史">瀏覽帳號歷史</a>
</p>
</form>
<p>
  屬於任何群組的使用者以打勾或灰色線條顯示。灰色線條代表非直接的成員，可能是來自其他群組（以中括號 [] 標記），或是來自正規表達式（以星號 * 標記）。
</p>
[% IF editusers %]
  <p>
    在「可替其他使用者設定這些權限」勾選框旁的中括號指出因屬於另一群組的成員，而有 bless 使用者（在群組中新增成員）的能力。
  </p>
[% END %]

[% IF Param('allowuserdeletion') && editusers %]
  <form method="post" action="editusers.cgi">
  <p>
    <input type="submit" id="delete" value="刪除使用者" />
    <input type="hidden" name="action" value="del" />
    <input type="hidden" name="userid" value="[% otheruser.id %]" />
    [% INCLUDE listselectionhiddenfields %]
  </p>
  </form>
[% END %]

<p>
  你也可以[% IF editusers %]<a
  href="editusers.cgi?action=add[% INCLUDE listselectionurlparams %]">新增使用者</a>，[% END %]
  [% IF listselectionvalues.matchtype != 'exact' %]回到<a
  href="editusers.cgi?action=list[% INCLUDE listselectionurlparams %]">使用者列表</a>，[% END %]
  [% IF editusers OR listselectionvalues %]或是[% END %]<a
  href="editusers.cgi">搜尋其他使用者</a>。
</p>

[% PROCESS global/footer.html.tmpl %]
