[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  #
  # listselectionvalues: selection values to recreate the current user list.
  # editusers:           is viewing user member of editusers?
  # users:               list of user information (id, login_name, realname,
  #                      disabledtext).
  #%]

[% PROCESS global/header.html.tmpl
  title = "選擇使用者"
  style_urls = ['skins/standard/editusers.css']
  doc_section = "useradmin.html"
%]

[% PROCESS admin/users/listselectvars.html.tmpl
  listselectionvalues = listselectionvalues
%]

[% listselectionurlparams = INCLUDE listselectionurlparams %]

[% columns =
  [{name               => 'login_name'
    heading            => '編輯使用者…'
    contentlink        => 'editusers.cgi?action=edit&amp;userid=%%userid%%' _
                          listselectionurlparams
   }
   {name               => 'realname'
    heading            => '真實姓名'
   }
   {name               => 'last_seen_date'
    heading            => '上次登入'
   }
   {heading            => '帳號歷史'
    content            => '瀏覽'
    contentlink        => 'editusers.cgi?action=activity' _
                                  '&amp;userid=%%userid%%' _
                                  listselectionurlparams
   }
  ]
%]

[% IF Param('allowuserdeletion') && editusers %]
  [% columns.push({heading     => '動作'
                   content     => '刪除'
                   contentlink => 'editusers.cgi?action=del' _
                                  '&amp;userid=%%userid%%' _
                                  listselectionurlparams
                  }
                 )
  %]
[% END %]

[%# Disabled users are crossed out. Missing realnames are noticed in red. %]
[% overrides.login_name = {} %]
[% overrides.realname = {} %]

[% FOREACH thisuser = users %]
  [% IF !thisuser.realname %]
    [%# We cannot pass one class now and one class later. %]
    [% SET classes = (thisuser.is_enabled ? "missing" : "bz_inactive missing") %]
    [% overrides.realname.login_name.${thisuser.login_name} = {
           content          => "缺少"
           override_content => 1
           class            => "$classes"
           override_class   => 1
       }
    %]
  [% ELSIF !thisuser.is_enabled %]
    [% overrides.realname.login_name.${thisuser.login_name} = {
           class          => "bz_inactive"
           override_class => 1
       }
    %]
  [% END %]

  [% IF !thisuser.is_enabled %]
    [% overrides.login_name.login_name.${thisuser.login_name} = {
           class          => "bz_inactive"
           override_class => 1
       }
    %]
  [% END %]
[% END %]

<p>找到 [% users.size %] 位使用者。</p>

[% PROCESS admin/table.html.tmpl
  columns = columns
  data    = users
  overrides = overrides
%]

<p>
  如果你並不想要在此時修改使用者帳號，你可以<a href="editusers.cgi">搜尋其他使用者</a>[% IF editusers %]，或者<a
  href="editusers.cgi?action=add[% INCLUDE listselectionurlparams %]">新增使用者</a>[% END %]。
</p>

[% PROCESS global/footer.html.tmpl %]
