[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # Contributor(s): Marc Schumann <wurblzap@gmail.com>
  #%]

[%# INTERFACE:
  #
  # editform:  is this an edit form? (It's a create form otherwise)
  # editusers: is viewing user member of editusers?
  # otheruser: Bugzilla::User object of user to edit
  #%]

<tr>
  <th><label for="login">帳號：</label></th>
  <td>
    [% IF editusers %]
      <input size="64" maxlength="255" name="login"
             id="login" value="[% otheruser.login FILTER html %]" />
      [% IF editform %]
        [% IF !otheruser.in_group('bz_sudo_protect') %]
          <br />
          <a href="relogin.cgi?action=prepare-sudo&amp;target_login=
          [%- otheruser.login FILTER url_quote %]">sudo 此使用者</a>
        [% END %]
      [% END %]
    [% ELSE %]
      [% otheruser.login FILTER html %]
    [% END %]
  </td>
</tr>
<tr>
  <th><label for="name">真實姓名：</label></th>
  <td>
    [% IF editusers %]
      <input size="64" maxlength="255" name="name"
             autocomplete="off"
             id="name" value="[% otheruser.name FILTER html %]" />
    [% ELSE %]
      [% otheruser.name FILTER html %]
    [% END %]
  </td>
</tr>

[%# XXX This condition (can_change_password) will cause a problem
  # if we ever have a login system that can create accounts through
  # createaccount.cgi but can't change passwords.
  #%]

[% IF editusers %]
  [% IF user.authorizer.can_change_password %]
  <tr>
    <th><label for="password">密碼：</label></th>
    <td>
      <input type="password" size="16" name="password" id="password"
             value="" autocomplete="off" />
      [% IF editform %]<br />
        （輸入新密碼進行變更。）
      [% END %]
    </td>
  </tr>
  [% END %]
  <tr>
    <th><label for="disable_mail">不允許寄發 [% terms.Bug %] 通知信：</label></th>
    <td>
      <input type="checkbox" name="disable_mail" id="disable_mail" value="1"
      [% IF otheruser.email_disabled %] checked="checked" [% END %] />
      （僅對 [% terms.bug %] 通知信及訂閱信有效，對重設密碼信或其他和 [% terms.bug %] 不相關的信無效）
    </td>
  </tr>
  <tr>
    <th><label for="disabledtext">停用說明：</label></th>
    <td>
      [% INCLUDE global/textarea.html.tmpl
         name           = 'disabledtext'
         id             = 'disabledtext'
         minrows        = 2
         maxrows        = 10
         defaultrows    = 10
         cols           = 60
         defaultcontent = otheruser.disabledtext
       %]<br>
      （只要不留白就會停用此帳號，而此說明應解釋原因為何。）
    </td>
  </tr>
[% END %]
