[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # url: URL to a pre-filled bug entry form.
  # short_desc: Bug summary as entered in the form.
  #%]

[% PROCESS global/header.html.tmpl
  title = "書籤是很好用的"
  header = "已建立模版"
%]

<p>
  你可以將此連結加入書籤：
  &ldquo;<a href="enter_bug.cgi?[% url FILTER html %]">
  [% IF short_desc %]
    [% short_desc FILTER html %]
  [% ELSE %]
    [% terms.Bug %] 輸入模版
  [% END %]</a>&rdquo;。此書籤將會以你要求的初始化欄位，載入<em>輸入 [% terms.Bug %] </em>的頁面。
</p>

[% PROCESS global/footer.html.tmpl %]
