[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # url: URL to a pre-filled bug entry form.
  # short_desc: Bug summary as entered in the form.
  #%]

[% PROCESS global/header.html.tmpl
  title = "$terms.bug 清單的模版"
  header = "已建立模版"
%]

<p>
  如果你將此連結加入書籤，
  或是在 $terms.bug 輸入頁面<a href="enter_bug.cgi?[% url FILTER html %]">對此連結</a>按滑鼠右鍵，
  並且在新視窗重覆開啟時，
  你將會得到數個<em>輸入 [% terms.bug %]</em>的頁面，而這些頁面的欄位已預先初始化為你剛剛完成的樣子。
  你可以依照需求進行自訂。
</p>

[% PROCESS global/footer.html.tmpl %]
