[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gervase Markham <gerv@gerv.net>
  #                 Marc Schumann <wurblzap@gmail.com>
  #%]

[%# INTERFACE:
  # url: URL to a pre-filled bug entry form.
  # short_desc: Bug summary as entered in the form.
  #%]

[% PROCESS global/variables.none.tmpl %]

[% PROCESS global/header.html.tmpl
  title = "書籤是很好用的"
  header = "已建立模版"
%]

<p>
  你可以將此連結加入書籤：
  &ldquo;<a href="enter_bug.cgi?[% url FILTER html %]">
  [% IF short_desc %]
    [% short_desc FILTER html %]
  [% ELSE %]
    [% terms.Bug %] 輸入模版
  [% END %]</a>&rdquo;。此書籤將會以你要求的初始化欄位，載入<em>輸入 [% terms.Bug %] </em>的頁面。
</p>

[% PROCESS global/footer.html.tmpl %]
