[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# Migration note: this file corresponds to the old Param
  # 'entryheaderhtml'
  #%]

[%# You can make the output of this template product-specific by using
  # Template Toolkit IF statements.  The current product name is stored in
  # the 'product' variable.
  #%]

在回報 [% terms.bug %] 之前，請閱讀
<a href="page.cgi?id=bug-writing.html">[% terms.bug %] 回報寫作技巧</a>，參考一下<a
href="duplicates.cgi">最常回報的 [% terms.bugs %] 清單</a>，並且<a
href="query.cgi">搜尋</a> [% terms.bug %] 是否存在。
