[%# The contents of this file are subject to the Mozilla Public
  # License Version 1.1 (the "License"); you may not use this file
  # except in compliance with the License. You may obtain a copy of
  # the License at http://www.mozilla.org/MPL/
  #
  # Software distributed under the License is distributed on an "AS
  # IS" basis, WITHOUT WARRANTY OF ANY KIND, either express or
  # implied. See the License for the specific language governing
  # rights and limitations under the License.
  #
  # The Original Code is the Bugzilla Bug Tracking System.
  #
  # The Initial Developer of the Original Code is Netscape Communications
  # Corporation. Portions created by Netscape are
  # Copyright (C) 1998 Netscape Communications Corporation. All
  # Rights Reserved.
  #
  # Contributor(s): Gervase Markham <gerv@gerv.net>
  #%]

[% help_html = [
{ id => "short_desc_type",
  html => "你想要的摘要種類。" },
{ id => "short_desc",
  html => "$terms.bug 摘要是一個簡潔地描述這個 $terms.bug 的短句子。" },
{ id => "classification",
  html => "$terms.Bugs 以類別、產品和子產品做分類。<br>類別是最上層的分類。" },
{ id => "product",
  html => Param('useclassification') ?
       "$terms.Bugs 以產品和子產品做分類。<br>選擇一個類別來減少這個列表。" :
       "$terms.Bugs 以產品和子產品做分類。<br>產品是最上層的分類。" },
{ id => "component",
  html => "子產品是次分類，每一個子產品都歸屬於一個特定的產品。<br>
           選擇一個產品來減少這個列表。" },
{ id => "version",
  html => "版本欄位是用來定義 $terms.bug 在軟體的哪個版本發生。" },
{ id => "target_milestone",
  html => "目標里程碑的欄位是用來定義工程師將 $terms.bug 排程，並預計修復的日期。
           " },
{ id => "long_desc",
  html => "$terms.Bugzilla 使用者可以在 $terms.Bugs 加入描述或意見。<br>你可以在這些意見裡搜尋。" },
{ id => "long_desc_type",
  html => "你想要的描述或意見的種類。" },
{ id => "bug_file_loc",
  html => "$terms.Bugs 可以和網址產生關連。例如說，連上一個網站就會看到這個問題。" },
{ id => "bug_file_loc_type",
  html => "你想要的網址種類。" },
{ id => "status_whiteboard",
  html => "每個 $terms.bug 都有一塊狀態白板，可以加入標籤以及狀態資訊。" },
{ id => "status_whiteboard_type",
  html => "你想要找的狀態白板種類。" },
{ id => "keywords",
  html => "為了替 $terms.bugs 加上標籤並分類，<br>你可以在已定義的列表中對 $terms.bugs 加入關鍵字。" },
{ id => "keywords_type",
  html => "你想要找的關鍵字種類。" },
{ id => "bug_status",
  html => "${terms.Abug}可能處於其中一個或多個狀態。" },
{ id => "resolution",
  html => "如果${terms.abug}處於已解決的狀態，那麼<br>將會列出其中一個原因當做解決方案。" },
{ id => "bug_severity",
  html => "$terms.bug 的嚴重等級如何，或者<br>它其實只是功能建議。" },
{ id => "priority",
  html => "工程師將 $terms.bugs 做優先程度的分類。" },
{ id => "rep_platform",
  html => "在哪一種硬體平台上會發生這個 $terms.bug 。" },
{ id => "op_sys",
  html => "在哪一種作業系統上會發生這個 $terms.bug 。" },
{ id => "email1",
  html => "每個人在每個 $terms.bug 扮演的角色不盡相同。<br>
           你可以以特定角色搜尋特定人員。" },
{ id => "email2",
  html => "每個人在每個 $terms.bug 扮演的角色不盡相同。<br>
           你可以以特定角色搜尋特定人員。" },
{ id => "bug_id",
  html => "你可以將你的搜尋限制在一些特定的 $terms.bugs 中。" },
{ id => "votes",
  html => "有些 $terms.bugs 可以投票，因此你可以將你的搜尋<br>
           限制在至少要有一定票數的 $terms.bugs 裡。" },
{ id => "chfield",
  html => "你可以搜尋特定種類的變更，這個欄位就是給你選擇用的。" },
{ id => "chfieldfrom",
  html => "以 YYYY-MM-DD (例如 2007-12-31) 的格式指定開始及結束的時間<br>
           (也可以在後頭加上 HH:mm ，例如 2007-12-31 23:59) 。也可以<br>
           用 1h、2d、3w、4m 或是 5y，來表示 1 小時前、 2 天前、 3 星期前、<br>
           4 個月前，或是 5 年前。用 0d 表示今天凌晨 00:00 ，另外也可以用 0h <br>
           、0w、0m、0y 分別代表這個小時、這星期、這個月，或是這一年<br>
           的開始。用 now 代表現在。" },
{ id => "chfieldto",
  html => "以 YYYY-MM-DD (例如 2007-12-31) 的格式指定開始及結束的時間<br>
           (也可以在後頭加上 HH:mm ，例如 2007-12-31 23:59) 。也可以<br>
           用 1h、2d、3w、4m 或是 5y，來表示 1 小時前、 2 天前、 3 星期前、<br>
           4 個月前，或是 5 年前。用 0d 表示今天凌晨 00:00 ，另外也可以用 0h<br>
           、0w、0m、0y 分別代表這個小時、這星期、這個月，或是這一年<br>
           的開始。用 now 代表現在。" },
{ id => "chfieldvalue",
  html => "上欄所定義的數值是在該段時間做出變更的。" },
] %]
