[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # product: object; Bugzilla::Product object representing the product to
  #               which the version is being created for
  #%]

[% title = BLOCK %]在產品 '[% product.name FILTER html %]' 新增版本[% END %]
[% subheader = BLOCK %]此頁面允許你在產品 '[% product.name FILTER html %]' 中新增版本。[% END %]
[% PROCESS global/header.html.tmpl
  title = title
  subheader = subheader
%]

<form method="post" action="editversions.cgi">
  <table border="0" cellpadding="4" cellspacing="0">
    <tr>
      <th align="right"><label for="version">版本：</label></th>
      <td><input id="version" size="64" maxlength="64" name="version"
                 value=""></td>
    </tr>
  </table>
  <input type="submit" id="create" value="新增">
  <input type="hidden" name="action" value="new">
  <input type="hidden" name='product' value="[% product.name FILTER html %]">
  <input type="hidden" name="token" value="[% token FILTER html %]">
</form>

[% PROCESS admin/versions/footer.html.tmpl
    no_add_version_link = 1
 %]

[% PROCESS global/footer.html.tmpl %]
