[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[% series_name = BLOCK %]
  [% series.category FILTER html %] /
  [%+ series.subcategory FILTER html %] /
  [%+ series.name FILTER html %]
[% END %]

[% PROCESS global/header.html.tmpl title = "刪除系列"
                                   style_urls = ['skins/standard/admin.css'] %]

<p>
  你即將從資料庫中刪除 <b>[% series_name FILTER none %]</b> 系列。
  所有資料將永久刪除。
</p>
<p>
  [% IF series.creator %]
    此系列由 <a href="mailto:[% series.creator.email FILTER html %]">
    [% series.creator.email FILTER html %]</a> 建立
  [% ELSE %]
    此系列由 [% terms.Bugzilla %] 自動建立
  [% END %]

  [% IF series.public %]
    ，並且是公開的。
  [% ELSIF series.creator %]
    ，並且僅限該使用者可見。
  [% ELSE %]
    ，並且任何人均無法檢視。
  [% END %]
</p>

<p class="areyoureallyreallysure">你確定要刪除此系列嗎？</p>

<p>
  <a href="chart.cgi?action=delete&amp;series_id=[% series.series_id FILTER html %]&amp;token=
           [%- issue_hash_token([series.id, series.name]) FILTER uri %]">是的，刪除</a> |
  <a href="chart.cgi">不，回到圖表頁</a>
</p>

[% PROCESS global/footer.html.tmpl %]
