[%# This Source Code Form is subject to the terms of the Mozilla Public
  # License, v. 2.0. If a copy of the MPL was not distributed with this
  # file, You can obtain one at http://mozilla.org/MPL/2.0/.
  #
  # This Source Code Form is "Incompatible With Secondary Licenses", as
  # defined by the Mozilla Public License, v. 2.0.
  #%]

[%# INTERFACE:
  # This template has no interface. It's a list of the available report
  # types in Bugzilla.
  #%]

[% PROCESS global/header.html.tmpl
  title = "報告及圖表產生器"
  doc_section = "reporting.html"
  style_urls = ['skins/standard/reports.css']
%]

<p>
  [% terms.Bugzilla %] 允許你以多種方式瀏覽及追蹤 [% terms.bug %] 資料庫的狀態。
</p>

<h2>目前狀態</h2>

<ul>
  <li id="report_search">
    <strong><a href="query.cgi">搜尋</a></strong> - 列出一組 [% terms.bugs %] 。
  </li>
  <li id="report_tabular">
    <strong>
      <a href="query.cgi?format=report-table">表格式報告</a>
    </strong> - 以 HTML 或 CSV 格式，產生一、二或三度空間的 [% terms.bug %] 數目表格。
  </li>
  [% IF feature_enabled('graphical_reports') %]
    <li id="report_graphical">
      <strong>
        <a href="query.cgi?format=report-graph">圖形式報告</a>
      </strong> - 折線圖、長條圖及圓餅圖。
    </li>
  [% END %]
  <li id="report_duplicates">
    <strong><a href="duplicates.cgi">重覆報告</a></strong> -
    列出最常被回報的 [% terms.bugs %] 。
  </li>
  [% Hook.process('current_state') %]
</ul>

[% IF feature_enabled('new_charts') OR feature_enabled('old_charts') %]
  <h2>過去的變更</h2>

  <ul>
  [% IF feature_enabled('old_charts') %]
    <li id="old_charts">
      <strong><a href="reports.cgi">舊的圖表</a></strong> -
      以資料庫中每一個產品為單位，繪出時間、 [% terms.bugs %] 的狀態和／或解決方案。
    </li>
  [% END %]
  [% IF feature_enabled('new_charts') AND user.in_group(Param("chartgroup")) %]
    <li id="new_charts">
      <strong><a href="chart.cgi">新的圖表</a></strong> -
      以時間為單位，繪出任何搜尋。功能更為強大。
    </li>
  [% END %]
</ul>
[% END %]

[% Hook.process('end') %]

[% PROCESS global/footer.html.tmpl %]
